<div class="panel panel-default" style="margin-bottom:0 !important;">
	<div class="panel-heading clearfix">
		<span class="pull-left h4">Source Generation</span>
		<ul class="tool-bar">
			<li><a data-toggle="modal" data-target="#<%=@view%>-modal"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<div class="panel-body no-padding">
    <div id="source_productivity_<%=@view%>" class=""></div>
	</div>
</div><!-- /panel -->
<script>
	$(function () {
		$('#source_productivity_<%=@view%>').highcharts({
				chart: {
						polar: true,
						type: 'line'
				},

				title: {
						text: 'Source Expense vs Surgical Revenue',
						x: -80
				},

				pane: {
						size: '80%'
				},

				xAxis: {
						categories: eval(<%=raw @current_org.sources.active.collect(&:name_and_date)%>),
						tickmarkPlacement: 'on',
						lineWidth: 0
				},

				yAxis: {
						gridLineInterpolation: 'polygon',
						lineWidth: 0,
						min: 0
				},

				tooltip: {
						shared: true,
						pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
				},

				legend: {
						align: 'right',
						verticalAlign: 'top',
						y: 70,
						layout: 'vertical'
				},

				series: [ {
						name: 'Surgical Revenue',
						data: eval(<%=raw @current_org.sources.active.collect(&:surgery_revenue) %>),
						pointPlacement: 'on'
				},
				{
						name: 'Source Cost',
						data: eval(<%=raw @current_org.sources.active.collect(&:cost)%>),
						pointPlacement: 'on'
				}],
				credits: {
					enabled: false
				}

		});
	});
</script>
