<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh3u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<div class="main-header clearfix">
  <div class="page-title">
    <h3 class="no-margin">Monthly Health Check</h3>
    <span>Welcome back <%= @current_user.first_name%></span>
  </div><!-- /page-title -->
</div><!-- /main-header -->
<hr>
<div style="clear:both"></div>

<div class="container">
  <div class="row">
    <ul style="list-style: none;">
      <li><p>Revenue is <%=lead_review(@earned_revenue - @first_earned_revenue)%> last month and <%=lead_review(@earned_revenue - @second_earned_revenue)%> last year.</p></li>
      <li><p>Your leads are <%=lead_review(@leads_count - @first_leads_count)%> last month and <%=lead_review(@leads_count - @second_leads_count)%> last year.</p></li>
    </ul>
  </div>
</div>
<h2> Marketing & Revenue </h2>
<table class="table table-hover table-striped text-center table-bordered">
  <h3>
    Lead Generation
  </h3>
  <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;">
    Review this Lead Generation table to determine if there is an issue with the quantity of leads being generated. If there is a large discrepancy review the sources that would directly influence the inquiry type.
  </div>
  <thead class="bg-success">
    <tr>
      <th class="text-center"><h5>Inquiry Type</h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th colspan="2" class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th colspan="2" class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Web Inquiry</td>
      <td><%= @first_web_leads_count -%></td>
      <td><%= @web_leads_count -%></td>
      <td>
        <span class="<%= positive_or_negative?(@web_leads_count - @first_web_leads_count )%>">
          <%=  @web_leads_count - @first_web_leads_count%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?(@web_leads_count - @first_web_leads_count)%>">
          <%= ((@web_leads_count - @first_web_leads_count) / zero_safe_guard(@web_leads_count)) * 100 %> %
        </span>
      </td>
      <td><%= @second_web_leads_count -%></td>
      <td><%= @web_leads_count -%></td>
      <td>
        <span class="<%= positive_or_negative?(@web_leads_count - @second_web_leads_count )%>">
          <%=  @web_leads_count - @second_web_leads_count%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?(@web_leads_count - @second_web_leads_count)%>">
          <%= ((@web_leads_count - @second_web_leads_count) / zero_safe_guard(@web_leads_count)) * 100 %> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Phone/ Walk In</td>
      <td><%= @first_phone_leads_count -%></td>
      <td><%= @phone_leads_count -%></td>
      <td>
        <span class="<%= positive_or_negative?(@phone_leads_count - @first_phone_leads_count )%>">
          <%=  @phone_leads_count - @first_phone_leads_count%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?(@phone_leads_count - @first_phone_leads_count)%>">
          <%= ((@phone_leads_count - @first_phone_leads_count) / zero_safe_guard(@phone_leads_count)) * 100 %> %
        </span>
      </td>
      <td><%= @second_phone_leads_count -%></td>
      <td><%= @phone_leads_count -%></td>
      <td>
        <span class="<%= positive_or_negative?(@phone_leads_count - @second_phone_leads_count )%>">
          <%=  @phone_leads_count - @second_phone_leads_count%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?(@phone_leads_count - @second_phone_leads_count)%>">
          <%= ((@phone_leads_count - @second_phone_leads_count) / zero_safe_guard(@phone_leads_count)) * 100 %> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= @first_leads_count -%></td>
      <td><%= @leads_count -%></td>
      <td>
        <span class="<%= positive_or_negative?(@leads_count - @first_leads_count )%>">
          <%=  @leads_count - @first_leads_count%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?(@leads_count - @first_leads_count)%>">
          <%= ((@leads_count - @first_leads_count) / zero_safe_guard(@leads_count)) * 100 %> %
        </span>
      </td>
      <td><%= @second_leads_count -%></td>
      <td><%= @leads_count -%></td>
      <td>
        <span class="<%= positive_or_negative?(@leads_count - @second_leads_count )%>">
          <%=  @leads_count - @second_leads_count%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?(@leads_count - @second_leads_count)%>">
          <%= ((@leads_count - @second_leads_count) / zero_safe_guard(@leads_count)) * 100 %> %
        </span>
      </td>
    </tr>
  </tbody>
</table>


<table class="table table-hover  table-striped text-center table-bordered">
  <h3>
    Source Productivity
  </h3>
  <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;width:100%;">
    Use the Source Productivity table to review your Source Types. You can determine which Source Type has generated the most leads.
  </div>
  <thead class="bg-success">
    <tr>
      <th class="text-center"><h5>Source</h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th colspan="2" class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th colspan="2" class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Internet</td>
      <td><a data-target="#first_internet_sources" role="button" data-toggle="modal"><%= source_count_check(@first_sources["Internet"]) -%></a></td>
      <td><a data-target="#internet_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Internet"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Internet"]) - source_count_check(@first_sources["Internet"]))) %>">
          <%= source_count_check(@sources["Internet"]) - source_count_check(@first_sources["Internet"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Internet"]) - source_count_check(@first_sources["Internet"]))) %>">
          <%= ((source_count_check(@sources["Internet"]) - source_count_check(@first_sources["Internet"])) / zero_safe_guard(source_count_check(@sources["Internet"])))  * 100 -%> %
        </span>
      </td>
      <td><a data-target="#second_internet_sources" role="button" data-toggle="modal"><%= source_count_check(@second_sources["Internet"])  -%></a></td>
      <td><a data-target="#internet_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Internet"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Internet"]) - source_count_check(@second_sources["Internet"])) ) %>">
          <%= source_count_check(@sources["Internet"]) - source_count_check(@second_sources["Internet"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Internet"]) - source_count_check(@second_sources["Internet"])) ) %>">
          <%= ((source_count_check(@sources["Internet"]) - source_count_check(@second_sources["Internet"])) / zero_safe_guard(source_count_check(@sources["Internet"]))) * 100 -%> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Referral</td>
      <td><a data-target="#first_referral_sources" role="button" data-toggle="modal"><%= source_count_check(@first_sources["Referral"]) -%></a></td>
      <td><a data-target="#referral_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Referral"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?(source_count_check(@sources["Referral"]) - source_count_check(@first_sources["Referral"])) %>">
          <%= source_count_check(@sources["Referral"]) - source_count_check(@first_sources["Referral"]) -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?(source_count_check(@sources["Referral"]) - source_count_check(@first_sources["Referral"])) %>">
          <%= (source_count_check(@sources["Referral"]) - source_count_check(@first_sources["Referral"]) / zero_safe_guard(source_count_check(@sources["Referral"]))) * 100 -%> %
        </span>
      </td>
      <td><a data-target="#second_referral_sources" role="button" data-toggle="modal"><%= source_count_check(@second_sources["Referral"]) -%></a></td>
      <td><a data-target="#referral_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Referral"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?(source_count_check(@sources["Referral"]) - source_count_check(@second_sources["Referral"])) %>">
          <%= source_count_check(@sources["Referral"]) - source_count_check(@second_sources["Referral"]) -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?(source_count_check(@sources["Referral"]) - source_count_check(@second_sources["Referral"])) %>">
          <%= (source_count_check(@sources["Referral"]) - source_count_check(@second_sources["Referral"]) / zero_safe_guard(source_count_check(@sources["Referral"]))) * 100 -%> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Social Media</td>
      <td><a data-target="#first_social_media_sources" role="button" data-toggle="modal"><%= source_count_check(@first_sources["Social Media"]) -%></a></td>
      <td><a data-target="#social_media_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Social Media"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Social Media"]) - source_count_check(@first_sources["Social Media"]))) %>">
          <%= source_count_check(@sources["Social Media"]) - source_count_check(@first_sources["Social Media"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Social Media"]) - source_count_check(@first_sources["Social Media"]))) %>">
          <%= ((source_count_check(@sources["Social Media"]) - source_count_check(@first_sources["Social Media"])) / zero_safe_guard(source_count_check(@sources["Social Media"])))  * 100 -%> %
        </span>
      </td>
      <td><a data-target="#second_social_media_sources" role="button" data-toggle="modal"><%= source_count_check(@second_sources["Social Media"])  -%></a></td>
      <td><a data-target="#social_media_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Social Media"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Social Media"]) - source_count_check(@second_sources["Social Media"])) ) %>">
          <%= source_count_check(@sources["Social Media"]) - source_count_check(@second_sources["Social Media"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Social Media"]) - source_count_check(@second_sources["Social Media"])) ) %>">
          <%= ((source_count_check(@sources["Social Media"]) - source_count_check(@second_sources["Social Media"])) / zero_safe_guard(source_count_check(@sources["Social Media"]))) * 100 -%> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Traditional Media</td>
      <td><a data-target="#first_traditional_media_sources" role="button" data-toggle="modal"><%= source_count_check(@first_sources["Traditional Media"]) -%></a></td>
      <td><a data-target="#traditional_media_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Traditional Media"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Traditional Media"]) - source_count_check(@first_sources["Traditional Media"]))) %>">
          <%= source_count_check(@sources["Traditional Media"]) - source_count_check(@first_sources["Traditional Media"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Traditional Media"]) - source_count_check(@first_sources["Traditional Media"]))) %>">
          <%= ((source_count_check(@sources["Traditional Media"]) - source_count_check(@first_sources["Traditional Media"])) / zero_safe_guard(source_count_check(@sources["Traditional Media"])))  * 100 -%> %
        </span>
      </td>
      <td><a data-target="#second_traditional_media_sources" role="button" data-toggle="modal"><%= source_count_check(@second_sources["Traditional Media"])  -%></a></td>
      <td><a data-target="#traditional_media_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Traditional Media"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Traditional Media"]) - source_count_check(@second_sources["Traditional Media"])) ) %>">
          <%= source_count_check(@sources["Traditional Media"]) - source_count_check(@second_sources["Traditional Media"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Traditional Media"]) - source_count_check(@second_sources["Traditional Media"])) ) %>">
          <%= ((source_count_check(@sources["Traditional Media"]) - source_count_check(@second_sources["Traditional Media"])) / zero_safe_guard(source_count_check(@sources["Traditional Media"]))) * 100 -%> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Events</td>
      <td><a data-target="#first_events_sources" role="button" data-toggle="modal"><%= source_count_check(@first_sources["Events"]) -%></a></td>
      <td><a data-target="#events_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Events"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Events"]) - source_count_check(@first_sources["Events"]))) %>">
          <%= source_count_check(@sources["Events"]) - source_count_check(@first_sources["Events"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Events"]) - source_count_check(@first_sources["Events"]))) %>">
          <%= ((source_count_check(@sources["Events"]) - source_count_check(@first_sources["Events"])) / zero_safe_guard(source_count_check(@sources["Events"])))  * 100 -%> %
        </span>
      </td>
      <td><a data-target="#second_events_sources" role="button" data-toggle="modal"><%= source_count_check(@second_sources["Events"])  -%></a></td>
      <td><a data-target="#events_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Events"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Events"]) - source_count_check(@second_sources["Events"])) ) %>">
          <%= source_count_check(@sources["Events"]) - source_count_check(@second_sources["Events"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Events"]) - source_count_check(@second_sources["Events"])) ) %>">
          <%= ((source_count_check(@sources["Events"]) - source_count_check(@second_sources["Events"])) / zero_safe_guard(source_count_check(@sources["Events"]))) * 100 -%> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Telemarketing</td>
      <td><a data-target="#first_telemarketing_sources" role="button" data-toggle="modal"><%= source_count_check(@first_sources["Telemarketing"]) -%></a></td>
      <td><a data-target="#telemarketing_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Telemarketing"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Telemarketing"]) - source_count_check(@first_sources["Telemarketing"]))) %>">
          <%= source_count_check(@sources["Telemarketing"]) - source_count_check(@first_sources["Telemarketing"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Telemarketing"]) - source_count_check(@first_sources["Telemarketing"]))) %>">
          <%= ((source_count_check(@sources["Telemarketing"]) - source_count_check(@first_sources["Telemarketing"])) / zero_safe_guard(source_count_check(@sources["Telemarketing"])))  * 100 -%> %
        </span>
      </td>
      <td><a data-target="#second_telemarketing_sources" role="button" data-toggle="modal"><%= source_count_check(@second_sources["Telemarketing"])  -%></a></td>
      <td><a data-target="#telemarketing_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Telemarketing"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Telemarketing"]) - source_count_check(@second_sources["Telemarketing"])) ) %>">
          <%= source_count_check(@sources["Telemarketing"]) - source_count_check(@second_sources["Telemarketing"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Telemarketing"]) - source_count_check(@second_sources["Telemarketing"])) ) %>">
          <%= ((source_count_check(@sources["Telemarketing"]) - source_count_check(@second_sources["Telemarketing"])) / zero_safe_guard(source_count_check(@sources["Telemarketing"]))) * 100 -%> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Walk-In</td>
      <td><a data-target="#first_walk_in_sources" role="button" data-toggle="modal"><%= source_count_check(@first_sources["Walk-In"]) -%></a></td>
      <td><a data-target="#walk_in_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Walk-In"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Walk-In"]) - source_count_check(@first_sources["Walk-In"]))) %>">
          <%= source_count_check(@sources["Walk-In"]) - source_count_check(@first_sources["Walk-In"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Walk-In"]) - source_count_check(@first_sources["Walk-In"]))) %>">
          <%= ((source_count_check(@sources["Walk-In"]) - source_count_check(@first_sources["Walk-In"])) / zero_safe_guard(source_count_check(@sources["Walk-In"])))  * 100 -%> %
        </span>
      </td>
      <td><a data-target="#second_walk_in_sources" role="button" data-toggle="modal"><%= source_count_check(@second_sources["Walk-In"])  -%></a></td>
      <td><a data-target="#walk_in_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Walk-In"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Walk-In"]) - source_count_check(@second_sources["Walk-In"])) ) %>">
          <%= source_count_check(@sources["Walk-In"]) - source_count_check(@second_sources["Walk-In"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Walk-In"]) - source_count_check(@second_sources["Walk-In"])) ) %>">
          <%= ((source_count_check(@sources["Walk-In"]) - source_count_check(@second_sources["Walk-In"])) / zero_safe_guard(source_count_check(@sources["Walk-In"]))) * 100 -%> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Other</td>
      <td><a data-target="#first_other_sources" role="button" data-toggle="modal"><%= source_count_check(@first_sources["Other"]) -%></a></td>
      <td><a data-target="#other_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Other"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Other"]) - source_count_check(@first_sources["Other"]))) %>">
          <%= source_count_check(@sources["Other"]) - source_count_check(@first_sources["Other"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Other"]) - source_count_check(@first_sources["Other"]))) %>">
          <%= ((source_count_check(@sources["Other"]) - source_count_check(@first_sources["Other"])) / zero_safe_guard(source_count_check(@sources["Other"])))  * 100 -%> %
        </span>
      </td>
      <td><a data-target="#second_other_sources" role="button" data-toggle="modal"><%= source_count_check(@second_sources["Other"])  -%></a></td>
      <td><a data-target="#other_sources" role="button" data-toggle="modal"><%= source_count_check(@sources["Other"]) -%></a></td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Other"]) - source_count_check(@second_sources["Other"])) ) %>">
          <%= source_count_check(@sources["Other"]) - source_count_check(@second_sources["Other"])  -%>
        </span>
      </td>
      <td>
        <span class="<%= positive_or_negative?((source_count_check(@sources["Other"]) - source_count_check(@second_sources["Other"])) ) %>">
          <%= ((source_count_check(@sources["Other"]) - source_count_check(@second_sources["Other"])) / zero_safe_guard(source_count_check(@sources["Other"]))) * 100 -%> %
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div class="page-break"></div>

<table class="table table-hover table-striped text-center table-bordered">
  <h3>
    Inquiry to Appointment
  </h3>
  <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;">
    Use the Inquiry to Appointment table to review the lead types that converted to an appointment. You also have the Inquiry to Appointment rates for each of your reception staff.
  </div>
  <thead class="bg-success">
    <tr>
      <th Class="text-center"><h5><%= @current_org.company_name %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Total</td>
      <td> <%= ((@first_consult_count.to_f / zero_safe_guard(@first_leads_count)) * 100).round(2) %>%</td>
      <td> <%= ((@consult_count.to_f / zero_safe_guard(@leads_count)) * 100).round(2) %>%</td>
      <td>
        <span class="<%= positive_or_negative?(((@consult_count.to_f / zero_safe_guard(@leads_count)) * 100)-((@first_consult_count.to_f / zero_safe_guard(@first_leads_count)) * 100)) %>">
          <%= (((@consult_count.to_f / zero_safe_guard(@leads_count)) * 100)-((@first_consult_count.to_f / zero_safe_guard(@first_leads_count)) * 100)).round(2) -%> %
        </span>
      </td>
      <td> <%= ((@second_consult_count.to_f / zero_safe_guard(@second_leads_count)) * 100).round(2) %>%</td>
      <td> <%= ((@consult_count.to_f / zero_safe_guard(@leads_count)) * 100).round(2) %>%</td>
      <td>
        <span class="<%= positive_or_negative?(((@consult_count.to_f / zero_safe_guard(@leads_count)) * 100)-((@second_consult_count.to_f / zero_safe_guard(@second_leads_count)) * 100)) %>">
          <%= (((@consult_count.to_f / zero_safe_guard(@leads_count)) * 100)-((@second_consult_count.to_f / zero_safe_guard(@second_leads_count)) * 100)).round(2) -%> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Phone / Walk In</td>
      <td> <%= ((@first_phone_consult_count.to_f / zero_safe_guard(@first_phone_leads_count)) * 100).round(2) %>%</td>
      <td> <%= ((@phone_consult_count.to_f / zero_safe_guard(@phone_leads_count)) * 100).round(2) %>%</td>
      <td>
        <span class="<%= positive_or_negative?(((@phone_consult_count.to_f / zero_safe_guard(@phone_leads_count)) * 100)-((@first_phone_consult_count.to_f / zero_safe_guard(@first_phone_leads_count)) * 100)) %>">
          <%= (((@phone_consult_count.to_f / zero_safe_guard(@phone_leads_count)) * 100)-((@first_phone_consult_count.to_f / zero_safe_guard(@first_phone_leads_count)) * 100)).round(2) -%> %
        </span>
      </td>
      <td> <%= ((@second_phone_consult_count.to_f / zero_safe_guard(@second_phone_leads_count)) * 100).round(2) %>%</td>
      <td> <%= ((@phone_consult_count.to_f / zero_safe_guard(@phone_leads_count)) * 100).round(2) %>%</td>
      <td>
        <span class="<%= positive_or_negative?(((@phone_consult_count.to_f / zero_safe_guard(@phone_leads_count)) * 100)-((@second_phone_consult_count.to_f / zero_safe_guard(@second_phone_leads_count)) * 100)) %>">
          <%= (((@phone_consult_count.to_f / zero_safe_guard(@phone_leads_count)) * 100)-((@second_phone_consult_count.to_f / zero_safe_guard(@second_phone_leads_count)) * 100)).round(2) -%> %
        </span>
      </td>
    </tr>
    <tr>
      <td>Web</td>
      <td> <%= ((@first_web_consult_count.to_f / zero_safe_guard(@first_web_leads_count)) * 100).round(2) %>%</td>
      <td> <%= ((@web_consult_count.to_f / zero_safe_guard(@web_leads_count)) * 100).round(2) %>%</td>
      <td>
        <span class="<%= positive_or_negative?(((@web_consult_count.to_f / zero_safe_guard(@web_leads_count)) * 100)-((@first_web_consult_count.to_f / zero_safe_guard(@first_web_leads_count)) * 100)) %>">
          <%= (((@web_consult_count.to_f / zero_safe_guard(@web_leads_count)) * 100)-((@first_web_consult_count.to_f / zero_safe_guard(@first_web_leads_count)) * 100)).round(2) -%> %
        </span>
      </td>
      <td> <%= ((@second_web_consult_count.to_f / zero_safe_guard(@second_web_leads_count)) * 100).round(2) %>%</td>
      <td> <%= ((@web_consult_count.to_f / zero_safe_guard(@web_leads_count)) * 100).round(2) %>%</td>
      <td>
        <span class="<%= positive_or_negative?(((@web_consult_count.to_f / zero_safe_guard(@web_leads_count)) * 100)-((@second_web_consult_count.to_f / zero_safe_guard(@second_web_leads_count)) * 100)) %>">
          <%= (((@web_consult_count.to_f / zero_safe_guard(@web_leads_count)) * 100)-((@second_web_consult_count.to_f / zero_safe_guard(@second_web_leads_count)) * 100)).round(2) -%> %
        </span>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-hover table-striped text-center table-bordered">
  <h3>
    Appointments
  </h3>
  <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;">
    You can see leads who scheduled, cancelled or no showed Appointments.
  </div>
  <thead class="bg-success">
    <tr >
      <th class="text-center"><h5>Appointment Status</h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Total</td>
      <td><%= @first_consult_count -%></td>
      <td><%= @consult_count -%></td>
      <td class="<%= positive_or_negative?(@consult_count - @first_consult_count) %>">
        <%= @consult_count - @first_consult_count %>
      </td>
      <td><%= @second_consult_count -%></td>
      <td><%= @consult_count -%></td>
      <td class="<%= positive_or_negative?(@consult_count - @second_consult_count) %>">
        <%= @consult_count - @second_consult_count %>
      </td>
    </tr>
    <tr>
      <td>Cancelled</td>
      <td><%= @first_cancelled_consult_count -%></td>
      <td><%= @cancelled_consult_count -%></td>
      <td class="<%= positive_or_negative?(@cancelled_consult_count - @first_cancelled_consult_count) %>">
        <%= @cancelled_consult_count - @first_cancelled_consult_count %>
      </td>
      <td><%= @second_cancelled_consult_count -%></td>
      <td><%= @cancelled_consult_count -%></td>
      <td class="<%= positive_or_negative?(@cancelled_consult_count - @second_cancelled_consult_count) %>">
        <%= @cancelled_consult_count - @second_cancelled_consult_count %>
      </td>
    </tr>
    <tr>
      <td>No Show</td>
      <td><%= @first_no_show_consult_count -%></td>
      <td><%= @no_show_consult_count -%></td>
      <td class="<%= positive_or_negative?(@no_show_consult_count - @first_no_show_consult_count) %>">
        <%= @no_show_consult_count - @first_no_show_consult_count %>
      </td>
      <td><%= @second_no_show_consult_count -%></td>
      <td><%= @no_show_consult_count -%></td>
      <td class="<%= positive_or_negative?(@no_show_consult_count - @second_no_show_consult_count) %>">
        <%= @no_show_consult_count - @second_no_show_consult_count %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-hover table-striped text-center table-bordered">
  <thead class="bg-success">
    <tr>
      <th class="text-center"><h5>Appointment Rates</h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>No Show Consultation</td>
      <td><%= ((@first_no_show_consult_count.to_f / zero_safe_guard(@first_consult_count)) * 100).round(2)  %>%</td>
      <td><%= ((@no_show_consult_count.to_f / @consult_count) * 100).round(2) %>%</td>
      <td class="<%=positive_or_negative?(((@no_show_consult_count.to_f / zero_safe_guard(@consult_count)) * 100) - (((@first_no_show_consult_count.to_f / zero_safe_guard(@first_consult_count)) * 100)))%>">
        <%= (((@no_show_consult_count.to_f / zero_safe_guard(@consult_count)) * 100) - (((@first_no_show_consult_count.to_f / zero_safe_guard(@first_consult_count)) * 100))).round(2) %>%
      </td>
      <td><%= ((@second_no_show_consult_count.to_f / zero_safe_guard(@second_consult_count)) * 100).round(2)  %>%</td>
      <td><%= ((@no_show_consult_count.to_f / @consult_count) * 100).round(2) %>%</td>
      <td class="<%=positive_or_negative?(((@no_show_consult_count.to_f / zero_safe_guard(@consult_count)) * 100) - (((@second_no_show_consult_count.to_f / zero_safe_guard(@second_consult_count)) * 100)))%>">
        <%= (((@no_show_consult_count.to_f / zero_safe_guard(@consult_count)) * 100) - (((@second_no_show_consult_count.to_f / zero_safe_guard(@second_consult_count)) * 100))).round(2) %>%
      </td>
    </tr>
    <tr>
      <td>Cancelled Consultation</td>
      <td><%= ((@first_cancelled_consult_count.to_f / zero_safe_guard(@first_consult_count)) * 100).round(2)  %>%</td>
      <td><%= ((@cancelled_consult_count.to_f / @consult_count) * 100).round(2) %>%</td>
      <td class="<%=positive_or_negative?(((@cancelled_consult_count.to_f / zero_safe_guard(@consult_count)) * 100) - (((@first_cancelled_consult_count.to_f / zero_safe_guard(@first_consult_count)) * 100)))%>">
        <%= (((@cancelled_consult_count.to_f / zero_safe_guard(@consult_count)) * 100) - (((@first_cancelled_consult_count.to_f / zero_safe_guard(@first_consult_count)) * 100))).round(2) %>%
      </td>
      <td><%= ((@second_cancelled_consult_count.to_f / zero_safe_guard(@second_consult_count)) * 100).round(2)  %>%</td>
      <td><%= ((@cancelled_consult_count.to_f / @consult_count) * 100).round(2) %>%</td>
      <td class="<%=positive_or_negative?(((@cancelled_consult_count.to_f / zero_safe_guard(@consult_count)) * 100) - (((@second_cancelled_consult_count.to_f / zero_safe_guard(@second_consult_count)) * 100)))%>">
        <%= (((@cancelled_consult_count.to_f / zero_safe_guard(@consult_count)) * 100) - (((@second_cancelled_consult_count.to_f / zero_safe_guard(@second_consult_count)) * 100))).round(2) %>%
      </td>
    </tr>
  </tbody>
</table>


<table class="table table-hover table-striped text-center table-bordered">
  <h3 >
    Appointment to Surgery
  </h3>
  <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;">
    This table displays the Closing rate for the practice as well ass closing rates for each of your Sales Coordinators.
  </div>
  <thead class="bg-success">
    <tr>
      <th class="text-center">User</th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @current_org.company_name %></td>
      <td> <%= ((@first_surgery_count.to_f / zero_safe_guard(@first_consult_count)) * 100).round(2) %>%</td>
      <td> <%= ((@surgery_count.to_f / zero_safe_guard(@consult_count)) * 100).round(2) %>%</td>
      <td class="<%=positive_or_negative?(((@surgery_count.to_f / zero_safe_guard(@consult_count)) * 100) - ((@first_surgery_count.to_f / zero_safe_guard(@first_consult_count)) * 100))%>">
        <%=(((@surgery_count.to_f / zero_safe_guard(@consult_count)) * 100) - ((@first_surgery_count.to_f / zero_safe_guard(@first_consult_count)) * 100)).round(2) %> %
      </td>
      <td> <%= ((@second_surgery_count.to_f / zero_safe_guard(@second_consult_count)) * 100).round(2) %>%</td>
      <td> <%= ((@surgery_count.to_f / zero_safe_guard(@consult_count)) * 100).round(2) %>%</td>
      <td class="<%=positive_or_negative?(((@surgery_count.to_f / zero_safe_guard(@consult_count)) * 100) - ((@second_surgery_count.to_f / zero_safe_guard(@second_consult_count)) * 100))%>">
        <%=(((@surgery_count.to_f / zero_safe_guard(@consult_count)) * 100) - ((@second_surgery_count.to_f / zero_safe_guard(@second_consult_count)) * 100)).round(2) %> %
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-hover table-striped text-center table-bordered">
  <h3>
    Surgeries
  </h3>
  <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;">
    You can see leads who scheduled, completed and cancelled surgery.
  </div>
  <thead class="bg-success">
    <tr>
      <th class="text-center"><h5>Surgery Status</h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Scheduled</td>
      <td><%= @first_surgery_count -%></td>
      <td><%= @surgery_count -%></td>
      <td class="<%= positive_or_negative?(@surgery_count - @first_surgery_count) %>">
        <%= @surgery_count - @first_surgery_count %>
      </td>
      <td><%= @second_surgery_count -%></td>
      <td><%= @surgery_count -%></td>
      <td class="<%= positive_or_negative?(@surgery_count - @second_surgery_count) %>">
        <%= @surgery_count - @second_surgery_count %>
      </td>
    </tr>
    <tr>
      <td>Completed</td>
      <td><%= @first_completed_surgery_count -%></td>
      <td><%= @completed_surgery_count -%></td>
      <td class="<%= positive_or_negative?(@completed_surgery_count - @first_completed_surgery_count) %>">
        <%= @completed_surgery_count - @first_completed_surgery_count %>
      </td>
      <td><%= @second_completed_surgery_count -%></td>
      <td><%= @completed_surgery_count -%></td>
      <td class="<%= positive_or_negative?(@completed_surgery_count - @second_completed_surgery_count) %>">
        <%= @completed_surgery_count - @second_completed_surgery_count %>
      </td>
    </tr>
    <tr>
      <td>Cancelled</td>
      <td><%= @first_cancelled_surgery_count -%></td>
      <td><%= @cancelled_surgery_count -%></td>
      <td class="<%= positive_or_negative?(@cancelled_surgery_count - @first_cancelled_surgery_count) %>">
        <%= @cancelled_surgery_count - @first_cancelled_surgery_count %>
      </td>
      <td><%= @second_cancelled_surgery_count -%></td>
      <td><%= @cancelled_surgery_count -%></td>
      <td class="<%= positive_or_negative?(@cancelled_surgery_count - @second_cancelled_surgery_count) %>">
        <%= @cancelled_surgery_count - @second_cancelled_surgery_count %>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-hover table-striped text-center table-bordered">
  <thead class="bg-success">
    <tr>
      <th class="text-center"><h5>Surgical Rates</h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cancelled Surgery</td>
      <td><%= ((@first_cancelled_surgery_count.to_f / zero_safe_guard(@first_surgery_count)) * 100).round(2)  %>%</td>
      <td><%= ((@cancelled_surgery_count.to_f / @surgery_count) * 100).round(2) %>%</td>
      <td class="<%=positive_or_negative?(((@cancelled_surgery_count.to_f / zero_safe_guard(@surgery_count)) * 100) - (((@first_cancelled_surgery_count.to_f / zero_safe_guard(@first_surgery_count)) * 100)))%>">
        <%= (((@cancelled_surgery_count.to_f / zero_safe_guard(@surgery_count)) * 100) - (((@first_cancelled_surgery_count.to_f / zero_safe_guard(@first_surgery_count)) * 100))).round(2) %>%
      </td>
      <td><%= ((@second_cancelled_surgery_count.to_f / zero_safe_guard(@second_surgery_count)) * 100).round(2)  %>%</td>
      <td><%= ((@cancelled_surgery_count.to_f / @surgery_count) * 100).round(2) %>%</td>
      <td class="<%=positive_or_negative?(((@cancelled_surgery_count.to_f / zero_safe_guard(@surgery_count)) * 100) - (((@second_cancelled_surgery_count.to_f / zero_safe_guard(@second_surgery_count)) * 100)))%>">
        <%= (((@cancelled_surgery_count.to_f / zero_safe_guard(@surgery_count)) * 100) - (((@second_cancelled_surgery_count.to_f / zero_safe_guard(@second_surgery_count)) * 100))).round(2) %>%
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-hover text-center table-bordered">
  <h3>
    Earned and Lost Revenue
  </h3>
  <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;">
    You can see the no show and cancel rate for the practice and how those affect the revenue.
  </div>
  <thead class="bg-success">
    <tr>
      <th class="text-center"><h5>Category</h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
      <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Earned Revenue</td>
      <td><%= number_to_currency(@first_earned_revenue) %></td>
      <td><%= number_to_currency(@earned_revenue) %></td>
      <td class="<%=positive_or_negative?(@earned_revenue - @first_earned_revenue)%>">
        <%= number_to_currency(@earned_revenue - @first_earned_revenue)%>
      </td>
      <td><%= number_to_currency(@second_earned_revenue) %></td>
      <td><%= number_to_currency(@earned_revenue) %></td>
      <td class="<%=positive_or_negative?(@earned_revenue - @second_earned_revenue)%>">
        <%= number_to_currency(@earned_revenue - @second_earned_revenue)%>
      </td>
    </tr>
    <tr>
      <td>Lost Revenue</td>
      <td><%= number_to_currency(@first_lost_revenue) %></td>
      <td><%= number_to_currency(@lost_revenue) %></td>
      <td class="<%=positive_or_negative?(@lost_revenue - @first_lost_revenue)%>">
        <%= number_to_currency(@lost_revenue - @first_lost_revenue)%>
      </td>
      <td><%= number_to_currency(@second_lost_revenue) %></td>
      <td><%= number_to_currency(@lost_revenue) %></td>
      <td class="<%=positive_or_negative?(@lost_revenue - @second_lost_revenue)%>">
        <%= number_to_currency(@lost_revenue - @second_lost_revenue)%>
      </td>
    </tr>
  </tbody>
</table>
<div class="page-break"></div>

<h2> Staff Performance </h2>

      <table class="table table-hover table-striped text-center table-bordered">
        <h3> Receptions Inquiry to Appointment</h3>
        <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;">
          You can see the no show and cancel rate for the practice and how those affect the revenue.
        </div>
        <thead class="bg-success">
          <tr>
            <th class="text-center">User</th>
            <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
          </tr>
        </thead>
        <tbody>
          <% @first_ita_users.each do |k, v| -%>
          <tr>
            <td><%= k.to_s.titleize %></td>
            <td><span><%= v %>%</span></td>
            <td><span><%= @ita_users[k] %>%</span></td>
            <td>
              <span class="<%= positive_or_negative?(@ita_users[k] - v)%>">
                <%= @ita_users[k] - v %>%
              </span>
            </td>
            <td><span><%= @second_ita_users[k] %>%</span></td>
            <td><span><%= @ita_users[k] %>%</span></td>
            <td>
              <span class="<%= positive_or_negative?(@ita_users[k] - @second_ita_users[k])%>">
                <%= @ita_users[k] - @second_ita_users[k] %>%
              </span>
            </td>
          </tr>
          <%- end -%>
        </tbody>
      </table>


      

      <table class="table table-hover table-striped text-center table-bordered">
        <h3>Coordinator Closing Rates</h3>
        <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;">
          You can see the no show and cancel rate for the practice and how those affect the revenue.
        </div>
        <thead >
          <tr class="bg-success">
            <th class="text-center">User</th>
            <th colspan="3" class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
            <th colspan="3" class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
            <th colspan="3" class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
          </tr>
          <tr class="bg-info">
            <th class="text-center"></th>
            <th class="text-center">Surgeries</th>
            <th class="text-center">Consults</th>
            <th class="text-center">Rate</th>
            <th class="text-center">Surgeries</th>
            <th class="text-center">Consults</th>
            <th class="text-center">Rate</th>
            <th class="text-center">Surgeries</th>
            <th class="text-center">Consults</th>
            <th class="text-center">Rate</th>
          </tr>
        </thead>
        <tbody>
          <% @cr_users.each do |k, v| -%>
          <tr>
            <td><%= k.to_s.titleize %></td>
            <!-- historic -->
            <td><span><%= @second_cr_users[k][:surgeries] %></span></td>
            <td><span><%= @second_cr_users[k][:consults] %></span></td>
            <td><span><%= @second_cr_users[k][:rate].round(2) %>%</span></td>
            <td><span><%= v[:surgeries] %></span></td>
            <td><span><%= v[:consults] %></span></td>
            <td><span><%= v[:rate].round(2) %>%</span></td>
            <td class="<%= positive_or_negative?(v[:surgeries] - @second_cr_users[k][:surgeries])%>">
              <span><%=  v[:surgeries] - @second_cr_users[k][:surgeries]%></span>
            </td>
            <td class="<%= positive_or_negative?(v[:consults] - @second_cr_users[k][:consults])%>">
              <span><%= v[:consults] - @second_cr_users[k][:consults] %></span>
            </td>
            <td class="<%= positive_or_negative?(v[:rate] - @second_cr_users[k][:rate])%>">
              <span><%= v[:rate] - @second_cr_users[k][:rate] %>%</span>
            </td>
          </tr>
          <%- end -%>
        </tbody>
      </table>
      <table class="table table-hover table-striped text-center table-bordered">
        <thead >
          <tr class="bg-success">
            <th class="text-center">User</th>
            <th colspan="3" class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
            <th colspan="3" class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
            <th colspan="3" class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
          </tr>
          <tr class="bg-info">
            <th class="text-center"></th>
            <th class="text-center">Surgeries</th>
            <th class="text-center">Consults</th>
            <th class="text-center">Rate</th>
            <th class="text-center">Surgeries</th>
            <th class="text-center">Consults</th>
            <th class="text-center">Rate</th>
            <th class="text-center">Surgeries</th>
            <th class="text-center">Consults</th>
            <th class="text-center">Rate</th>
          </tr>
        </thead>
        <tbody>
          <% @cr_users.each do |k, v| -%>
          <tr>
            <td><%= k.to_s.titleize %></td>
            <!-- historic -->
            <td><span><%= @first_cr_users[k][:surgeries] %></span></td>
            <td><span><%= @first_cr_users[k][:consults] %></span></td>
            <td><span><%= @first_cr_users[k][:rate].round(2) %>%</span></td>
            <td><span><%= v[:surgeries] %></span></td>
            <td><span><%= v[:consults] %></span></td>
            <td><span><%= v[:rate].round(2) %>%</span></td>
            <td class="<%= positive_or_negative?(v[:surgeries] - @first_cr_users[k][:surgeries])%>">
              <span><%=  v[:surgeries] - @first_cr_users[k][:surgeries]%></span>
            </td>
            <td class="<%= positive_or_negative?(v[:consults] - @first_cr_users[k][:consults])%>">
              <span><%= v[:consults] - @first_cr_users[k][:consults] %></span>
            </td>
            <td class="<%= positive_or_negative?(v[:rate] - @first_cr_users[k][:rate])%>">
              <span><%= v[:rate] - @first_cr_users[k][:rate] %>%</span>
            </td>
          </tr>
          <%- end -%>
        </tbody>
      </table>

      <table class="table table-hover table-striped text-center table-bordered">
        <h3> Coordinator Revenue</h3>
        <div class="padding-md" style="border-bottom: solid #65cea7 1px;border-top: solid #65cea7 1px;">
          You can see the no show and cancel rate for the practice and how those affect the revenue.
        </div>
        <thead >
          <tr class="bg-success">
            <th class="text-center">User</th>
            <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.year).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
            <th class="text-center"><h5><%= (Date.today.beginning_of_month - 1.month).strftime('%b %Y') %> - <%= Date.today.beginning_of_month.strftime('%b %Y') %></h5></th>
          </tr>
        </thead>
        <tbody>
          <% @revenue_users.each do |k, v| -%>
          <tr>
            <td><%= k.to_s.titleize %></td>
            <!-- historic -->
            <td><span><%= number_to_currency(@second_revenue_users[k]) %></span></td>
            <td><span><%= number_to_currency(v) %></span></td>
            <td class="<%= positive_or_negative?(v - @second_revenue_users[k])%>">
              <span><%=  number_to_currency(v - @second_revenue_users[k])%></span>
            </td>
            <td><span><%= number_to_currency(@first_revenue_users[k]) %></span></td>
            <td><span><%= number_to_currency(v) %></span></td>
            <td class="<%= positive_or_negative?(v - @first_revenue_users[k])%>">
              <span><%=  number_to_currency(v - @first_revenue_users[k])%></span>
            </td>
          </tr>
          <%- end -%>
        </tbody>
      </table>


<style>
  .padding-md{
    padding:5px;
  }
  table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
  }
  table{
    margin-top:5px !important;
  }
  thead{
    margin-top:5px !important;
  }
  .page-break {
  	display:block;
  	clear:both;
  	page-break-after:always;
  }
</style>
