<%#= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/bootstrap-slider.js" %>
<%#= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/css/bootstrap-slider.css" %>
<div class="purchase-loader-div">
  <div class="purchase-loader">
   <%=image_tag "ajax-loader2.gif"%>
  </div>
</div>
<div style="padding-top: 22px;padding-left: 35px;" class="top-list-bar white-sticky-header fixed-in-app-header">
  <span style="margin-top:5px">
    <span class="navigation_sec">
     <%=link_to "Reset subscription", "/reset_subscription"%>
    </span>
  </span>
</div>
<div class="padrht payment-page cmn_bdr_shadow credit-card-popup" style="margin:20px;">
          <h3 class="h3-head">Checkout</h3>
          <div class="wrapper card_details new_form_layout">
            <h2>Credit Card Details</h2>
            <div class="wrap-inner">
            <div class="price-form col-md-6">              
              <div id="purchase-div">
                <%=render :partial => "checkout_form"%>

                <div class="payment-desc" style="display: none">
                  <p>Payment Accepted</p>
                  <div class="card">
                    <%=image_tag "new-ui/visa.png", alt:"visa", width:"70", height:"45"%>
                    <%=image_tag "new-ui/master.png", alt:"master", width:"70", height:"45"%>
                    <%=image_tag "new-ui/amex.png", alt:"amex", width:"70", height:"45"%>
                    <%=image_tag "new-ui/discover.png", alt:"discover", width:"70", height:"45"%>
                  </div>
                  <p class="card-relt-txt">
                    We currently accept major credit cards like Visa, Mastercard, Discover, American Express, and most European variations. We do not accept Paypal, checks, or POs.
                  </p>
                  <div class="braintree-logo">
                    <a href="">
                      <%=image_tag "new-ui/braintree.png", alt:"braintree", width:"160", height:"60"%>
                    </a>
                  </div>
                  <div class="secure-check">
                    <%=image_tag "new-ui/locked.png", alt:"braintree", width:"20", height:"20"%>
                    Secure checkout
                  </div>
                </div>
              </div>
              <div class="cb"></div>
              <p class="privacy_policy">By purchasing you agree to the <a href="/terms" target="_blank">terms of service</a> & <a href="/privacy" target="_blank">privacy policy</a></p>
              <div class="padnon form-group custom-testimonial" style="margin-top:15px;">
                <div class="padlft-non col-lg-3">
                  <div class="pf-img hex-img">
                    <%=image_tag "new-ui/Customer-Image-Turkey.png", alt: "Customer Turkey"%>
                  </div>
                </div>
                <div class="padlft-non col-lg-9">
                  <div class="client-message-txt">
                    <p style="text-align:justify">Wakeupsales has a brilliant UI, which makes CRM work joyful. I liked the UI and it's easy to work with. Wakeupsales has a plugin library that's going to increase very soon, I'm sure. Great work. Keep it up.</p><br>
                    <h6>Taylan Toprak<br>Owner, <small>Estateslist.com Turkey</small></h6>
                      </div>
                  </div>
                <div class="clearfix"></div>
              </div>
            </div>
              <!-- pricing slider -->
              <div class="price-box col-md-4">
                <form class="form-horizontal form-pricing" role="form">
                  <div class="price-slider">
                        <h5 class="great">Select #of Users</h5>
                        <div class="col-sm-12">
                          <div id="slider"></div>
                          <h6 style="margin-top:20px;">Slide to change number of users</h6>
                       </div>
                  </div>
                <div class="upgrtd_details">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Startup                                             Monthly
                                  account</th>
                                <th>$9/month</th>
                            </tr>
                            <tr>
                                <td>Unlimited Projects</td>
                              <td class="agree-symbol">
                                <span class="glyphicon glyphicon-ok" style="color:#00bcd5"></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Unlimited Tasks </td>
                              <td class="agree-symbol">
                                <span class="glyphicon glyphicon-ok" style="color:#00bcd5"></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Unlimited Task Groups</td>
                              <td class="agree-symbol">
                                <span class="glyphicon glyphicon-ok" style="color:#00bcd5"></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Unmilted Invoices</td>
                              <td class="agree-symbol">
                                <span class="glyphicon glyphicon-ok" style="color:#00bcd5"></span>
                              </td>
                            </tr>
                            <tr class="bill-cycle">
                              <td>Billig cycle</td>
                              <td>1 month</td>
                            </tr>
                            <tr class="total-payment">
                              <td>Total Payment </td>
                              <td><div id="total_payment" style="color: #00bcd5;font-size:22px;">$5</div></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                  <div class="chk_green secure-check" style="text-align:center;margin-top:15px;">
                      <%=image_tag "new-ui/locked.png", alt:"braintree", width:"20", height:"20"%>
                      SECURE CHECKOUT
                  </div>
                  <div class="upgrtd_details payment-accpt">
                    <h4>Payment Accepted</h4>
                    <div class="upgrtd_details">
                        <div class="payment-card-type">
                          <div class="col-lg-12 padnon">
                            <div class="col-lg-7 pr padnon border-rht">
                              <%=image_tag "new-ui/visa.png", alt:"visa", width:"40", height:"30"%>
                              <%=image_tag "new-ui/master.png", alt:"master", width:"40", height:"30"%>
                              <%=image_tag "new-ui/amex.png", alt:"amex", width:"40", height:"30"%>
                              <%=image_tag "new-ui/discover.png", alt:"discover", width:"40", height:"30"%>
                              <p>
                                We currently accept major credit cards like Visa, Mastercard, Discover, American Express, and most European variations. We do not accept Paypal, checks, or POs.
                              </p>
                            </div>
                            <div class="padrht-non m-padlft-non">
                              <a target="_blank" href="https://www.braintreegateway.com/merchants/d66nbzx5bfyqcg4w/verified">
                                <%=image_tag "new-ui/braintree.png", alt:"braintree", width:"129", height:"60"%>
                              </a>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    </div>
                  </div>
              </div>
                <!-- pricing slider --> 
            <div class="cb"></div>
          </div>
          <div class="checkout_footer">
            <p>Copyright © 2017 WakeUpSales. Andolasoft. <a href="/terms" target="_blank">terms of service</a> & <a href="/privacy" target="_blank">privacy policy</a></p>
          </div>
        </div>
      </div>

<script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
<!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
<script>
  $(function() {
    $("#slider").slider({
        animate: true,
        value:1,
        min: 1,
        max: 50,
        step: 1,
        slide: function(event, ui) {
            update(1,ui.value); //changed
        }
    });
    update(1,1);
    // var slider = new Slider("#ex6");
    // slider.on("slide", function(sliderValue) {
    //   document.getElementById("ex6SliderVal").textContent = sliderValue;
    // });
   
    $("#payment-form").bind('ajax:before', function() {
      $(".purchase-loader-div").show();
      $("#purchaser_email").html('"'+$("#email").val()+'",');
    });
    $("#payment-form").bind('ajax:success', function() {
      //alert('success')
      window.location.href = "/users/subscription";      
    });
    $("#payment-form").bind('ajax:error', function(evt, data, status, xhr) {
      $("#search_result").after("<div class='alert fade in alert-bodanger' style='position:absolute;'><button class='close' data-dismiss='alert'>×</button>" + data.responseText + "</div>");
      $(".purchase-loader-div").hide();
      $("#payment-form")[0].reset();
      $("html, body").animate({ scrollTop: 0 }, "slow");
    });
    //$("body").on("contextmenu",function(e){
    //  return false;
    //});

    $( ".custom-frm-inner" ).click(function() {
      $(this).parent().next('.control-label').addClass("control-lbl-add")
    });
    $( ".custom-frm-inner" ).focusout(function() {
      if($(this).val() == ""){
        $(this).parent().next('.control-label').removeClass("control-lbl-add")
      }else{
        $(this).parent().next('.control-label').addClass("control-lbl-add-txt")
      }
    });
    $(".cvv_img").hover(function() {
        $(".cvvcard").show();
    }, function() {
        $(".cvvcard").hide();
    });
    $("#card_num,#code,#exp_month,#exp_year").keydown(function(event) {
        // Allow: backspace, delete, tab, escape, and enter
        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
             // Allow: Ctrl+A
            (event.keyCode == 65 && event.ctrlKey === true) ||
             // Allow: home, end, left, right
            (event.keyCode >= 35 && event.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        } else {
            // Ensure that it is a number and stop the keypress
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                event.preventDefault();
            }
        }
    });

    $('#card_holder_name').off('keyup').on('keyup',function(){
       $('#name_err').html('');
    });
    $('#email').off('keyup').on('keyup',function(){
      $('#email_err').html('');
      //validate_email('email');
    });
    $('#card_num').off('keyup').on('keyup',function(){
       $('#number_err').html('');
    });
    $('#code').off('keyup').on('keyup',function(){
       $('#cvv_err').html('');
       $('#exp_month_err').html('');
       $('#exp_year_err').html('');
    });
    $('#bill_street_address').off('keyup').on('keyup',function(){
      $('#street_err').html('');
    });
    $('#bill_city').off('keyup').on('keyup',function(){
      $('#city_err').html('');
    });
    $('#bill_state').off('keyup').on('keyup',function(){
      $('#state_err').html('');
    });
    $('#bill_zipcode').off('keyup').on('keyup',function(){
      $('#zipcode_err').html('');
    });
    $('#country_code_alpha2').on('change', function() {
      if( this.value != "" ){
        $('#country_err').html('');
      }
    });
    // $('#exp_month').off('keyup').on('keyup',function(){
    //    $('#exp_month_err').html('');
    //    $('.exp_date_valid').html('');
    // });
    // $('#exp_year').off('keyup').on('keyup',function(){
    //    $('#exp_year_err').html('');
    //    $('.exp_date_valid').html('');
    // });

    $('#exp_month').on('change', function() {
      if( this.value != "" ){
        $('#exp_month_err').html('');
      }
      var d = new Date(),
      current_month = d.getMonth() + 1,
      current_year = d.getFullYear();
      if( this.value != "" && $('#exp_year').value != "" ){
        var selected_month = parseInt($(this).val());
        var selected_year = parseInt($("#exp_year").val());
        if((selected_month < current_month) && (selected_year <= current_year)){
          $('#exp_month_err').html("Invalid month");
        }
      }
    })

    $('#exp_year').on('change', function() {
      if( this.value != "" ){
        $('#exp_year_err').html('');
      }
      var d = new Date(),
      current_month = d.getMonth() + 1,
      current_year = d.getFullYear();
      if( $('#exp_month').value != "" && this.value != "" ){
        var selected_month = parseInt($('#exp_month').val());
        var selected_year = parseInt($(this).val());
        if(selected_month < current_month && selected_year <= current_year){
          $('#exp_month_err').html("Invalid month");
        }
        else{
          $('#exp_month_err').html("");
        }
      }
    })
  })
  function getLocation() {
    if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
  }
  function geoSuccess(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    $("#lat").val(lat);
    $("#long").val(lng);
    // var latlng = new google.maps.LatLng(lat, lng);
    // var geocoder = geocoder = new google.maps.Geocoder();
    // geocoder.geocode({ 'latLng': latlng }, function (results, status) {
    //     if (status == google.maps.GeocoderStatus.OK) {
    //         if (results[1]) {
    //             alert("Location: " + results[1].formatted_address);
    //         }
    //     }
    // });
  }
  function geoError() {
    console.log("Geocoder failed.");
    $("#lat").val("0.0");
    $("#long").val("0.0");
  }
  function validate_card() {
    var letterNumber = /^[0-9]+$/;
    var dt_valid = /^(0[1-9]|1[0-2])\/[0-9]{2}$/;
    var validate = 0;
    var card_number = $.trim($("#card_num").val());
    var name = $.trim($("#card_holder_name").val());
    //var email = $.trim($("#email").val());
    var card_cvc = $.trim($("#code").val());
    var exp_month = $.trim($("#exp_month").val());
    var exp_year = $.trim($("#exp_year").val());
    var street_address = $.trim($("#bill_street_address").val());
    var city = $.trim($("#bill_city").val());
    var state = $.trim($("#bill_state").val());
    var zipcode = $.trim($("#bill_zipcode").val());
    var country = $.trim($("#country_code_alpha2").val());
    $(".error_upg").hide();
    if (name == "") {
        $("#name_err").html('Name can not be blank');
        validate = 1;
    }
    // if (email == "") {
    //     $("#email_err").html('Email can not be blank');
    //     validate = 1;
    // }else{
    //     var emailRegEx = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    //     if(!$("#email").val().trim().match(emailRegEx)){
    //         $("#email_err").html('Invalid email. Please enter a valid email');
    //         validate = 1;
    //     }        
    // }
    if (card_number == "") {
        $("#number_err").html('Card Number can not be blank');
        validate = 1;
    } else if (!card_number.match(letterNumber)) {
        $("#number_err").html('Invalid Card Number');
        validate = 1;
    }
    if (card_cvc == "") {
        $("#cvv_err").html('CVV can not be blank.');
        validate = 1;
    } else if ((!card_cvc.match(letterNumber) || card_cvc == 0)) {
        $("#cvv_err").html('Invalid CVV number');
        validate = 1;
    }
    if (exp_month == "") {
        $("#exp_month_err").html('Expiry Month can not be blank');
        validate = 1;
    }
    if (exp_year == "") {
        $("#exp_year_err").html('Expiry Year can not be blank');
        validate = 1;
    }
    if (street_address == "") {
        $("#street_err").html('Street address can not be blank');
        validate = 1;
    }
    if (city == "") {
        $("#city_err").html('City can not be blank');
        validate = 1;
    }
    if (state == "") {
        $("#state_err").html('State can not be blank');
        validate = 1;
    }
    if (zipcode == "") {
        $("#zipcode_err").html('Zip code can not be blank');
        validate = 1;
    }
    if (country == "") {
        $("#country_err").html('Country can not be blank');
        validate = 1;
    }
    var d = new Date(),
    current_month = d.getMonth() + 1,
    current_year = d.getFullYear();
    if( $('#exp_month').value != "" && $('#exp_year').value != "" ){
      var selected_month = parseInt($('#exp_month').val());
      var selected_year = parseInt($('#exp_year').val());
      if(selected_month < current_month && selected_year <= current_year){
        $('#exp_month_err').html("Invalid month");
        validate = 1;
      }
    }

    if (validate == 1) {
      return false;
    } else {
      return true;
    }
  }
  //changed. now with parameter
  function update(slider,val) {
    //changed. Now, directly take value from ui.value. if not set (initial, will use current value.)
    console.log(slider)
    console.log(val)
    //changed. Now, directly take value from ui.value. if not set (initial, will use current value.)
    var $users = val //:$("#amount").val();
    $( "#user_limit" ).val($users);
    $( "#price" ).val($users*5);
    $( "#total_payment" ).html("$"+$users*5);
    /* commented
    $amount = $( "#slider" ).slider( "value" );
    $duration = $( "#slider2" ).slider( "value" );
     */

     // $total = "$" + ($amount * $duration);
     // $( "#amount" ).val($amount);
     // $( "#amount-label" ).text($amount);
     // $( "#duration" ).val($duration);
     // $( "#duration-label" ).text($duration);
     // $( "#total" ).val($total);
     // $( "#total-label" ).text($total);
     //$.cookie('no_of_users', null);
     //$.cookie('no_of_users', 17);
     if (typeof $.cookie('no_of_users') === 'undefined'){
       //no cookie
      } else {
        //have cookie
        $users = $.cookie('no_of_users');
        var no_of_users = parseInt($users);
        var slider_pos = (no_of_users/50) * 100 ;
        slider_pos = Math.round(slider_pos)
        $(".ui-slider-handle.ui-state-default.ui-corner-all").css("left",slider_pos+"%");
        //$.cookie('no_of_users', null);                           
      }

     
    $('#slider a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$users+' <span class="glyphicon glyphicon-chevron-right"></span></label>');




  }
</script>
