<p><strong>Patient Name:</strong> <%= @lead.first_name %> <%= @lead.last_name %></p>
<p><strong>Status:</strong> <%= @lead.status %></p>
<p><strong>Score:</strong> <%= @lead.score %></p>
<p><strong>Source:</strong> <%= @lead.source %></p>
<p><strong>Referral:</strong> <%= @lead.referral %></p>
<p><strong>Value:</strong> <%= @lead.value %></p>
<p><strong>Coordinator:</strong> <%= @lead.user.full_name %></p>
<p><strong>Appointment Type:</strong> <%= @lead.appointment_type %></p>
<p><strong>Appointment Timeframe:</strong> <%= @lead.appointment_timeframe %></p>
<p><strong>Appointment Time of Day:</strong> <%= @lead.appointment_time_of_day %></p>
<p><strong>Email:</strong> <%= @lead.email %></p>
<p><strong>Phone:</strong> <%= @lead.phone %></p>
<p><strong>Address:</strong> <%= @lead.address %></p>
<p><strong>City:</strong> <%= @lead.city %></p>
<p><strong>Sate:</strong> <%= @lead.state %></p>
<p><strong>Zip:</strong> <%= @lead.zip %></p>
<p><strong>DOB:</strong> <%= @lead.dob %></p>
<p><strong>Bra Size:</strong> <%= @lead.bra_size %></p>
<p><strong>Weight:</strong> <%= @lead.weight %></p>
<p><strong>Height:</strong> <%= @lead.height %></p>
<p><strong>Gender:</strong> <%= @lead.gender %></p>
<p><strong>Medications:</strong> <%= @lead.medications %></p>
<p><strong>Medical Conditions:</strong> <%= @lead.medical_conditions %></p>
<p><strong>Surgical History:</strong> <%= @lead.surgical_history %></p>
<p><strong>Allergies:</strong> <%= @lead.allergies %></p>
<p><strong>Smoker:</strong> <%= @lead.smoker %></p>
<p><strong>Children:</strong> <%= @lead.children %></p>
<p><strong>Last Pregnacy Date:</strong> <%= @lead.last_pregnancy_date %></p>
<p><strong>Financing:</strong> <%= @lead.financing %></p>
<p><strong>Budget:</strong> <%= @lead.budget %></p>
<p><strong>Interested In:</strong> <%= @lead.interested_in %></p>
<p><strong>Planned Surgery Date:</strong> <%= @lead.planned_surgery_date %></p>
<p><strong>Interest Level:</strong> <%= @lead.interest_level %></p>
<p><strong>Motivation:</strong> <%= @lead.motivation %></p>
<p><strong>Expectations:</strong> <%= @lead.expectations %></p>
<p><strong>Extra Questions:</strong> <%= @lead.extra_questions %></p>
<p><strong>Notes:</strong> <%= @lead.note %></p>