<div class="panel panel-default">
  <div class="panel-heading">
    <div class="h2"><i class="fa fa-medkit" aria-hidden="true"></i> Procedures</div>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-bordered table-responsive table-striped">
      <thead>

      <tr>
        <th>Procedure</th>
        <th>Type</th>
        <th>Details</th>
        <th>Cost</th>
      </tr>
      </thead>
      <tbody>
      <% @procedures.each do |procedure| %>
          <tr>
            <td width="25%"><%= link_to procedure.name.titleize, procedure %></td>
            <td width="10%"><%= procedure.type %></td>
            <td width="60%"><%= procedure.details.present? ? procedure.details.humanize : "" %></td>
            <td width="5%"><%= number_to_currency(procedure.cost) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <%= render :partial => 'form' %>
  </div>
</div>
