<!DOCTYPE html>
<html>
<head>
  <title>The Conversion Doctor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body class="overflow-hidden <%= 'alert-is-visible' if current_user != true_user %>">
<% is_admin = @current_account.is_super_admin? || @current_account.roles.include?(@current_org.roles.where({name: 'Administrator'}).first.id.to_s) %>
<% is_sales_coordinator = @current_account.roles.include?(@current_org.roles.where({name: 'Sales Coordinator'}).first.id.to_s) %>
<div id="overlay" class="transparent"></div>
<div id="chat-panel" style="display: none;"></div>
<a href="" id="theme-setting-icon"><i class="fa fa-cog fa-lg"></i></a>
<div id="theme-setting">
  <div class="title">
    <strong class="no-margin">Skin Color</strong>
  </div>
  <div class="theme-box">
    <a class="theme-color" style="background:#323447" id="default"></a>
    <a class="theme-color" style="background:#efefef" id="skin-1"></a>
    <a class="theme-color" style="background:#a93922" id="skin-2"></a>
    <a class="theme-color" style="background:#3e6b96" id="skin-3"></a>
    <a class="theme-color" style="background:#635247" id="skin-4"></a>
    <a class="theme-color" style="background:#3a3a3a" id="skin-5"></a>
    <a class="theme-color" style="background:#495B6C" id="skin-6"></a>
  </div>
  <div class="title">
    <strong class="no-margin">Sidebar Menu</strong>
  </div>
  <div class="theme-box">
    <label class="label-checkbox">
      <input type="checkbox" checked id="fixedSidebar">
      <span class="custom-checkbox"></span>
      Fixed Sidebar
    </label>
  </div>
</div><!-- /theme-setting -->
<!-- ######################################################### -->
<div id="wrapper" class="preload">
  <div id="top-nav" class="skin-6 fixed">
    <div class="brand">
      <span>Conversion</span>
      <span class="text-toggle"> Doctor</span>
    </div><!-- /brand -->
    <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <ul class="nav-notification clearfix">
      <li class="dropdown">
        <%= link_to new_business_lead_path, class: 'dropdown-toggle' do %>
            <i class="fa fa-plus fa-lg"></i>
        <% end %>
      </li>

      <li class="dropdown">
        <a id="chat-icon" href="javascript:" title="Chats">
          <i class="fa fa-comment fa-lg"></i>
          <span id="chat-icon-badge" class="notification-label bounceIn animation-delay4 <%= @unread_channels.count > 0 ? '' : 'hidden-badge' %>"><%= @unread_channels.count %></span>
        </a>
      </li>

      <li class="dropdown hidden-xs">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-tasks fa-lg"></i>
          <span class="notification-label bounceIn animation-delay5"><%= @current_account.tasks.all.count %></span>
        </a>
        <ul class="dropdown-menu task dropdown-2">
          <li>You have <%= @current_account.tasks.all.count %> new tasks.</li>
          <div style="max-height:300px; overflow:auto;">
            <% @current_account.tasks.all.each do |task| %>
                <li>
                  <%= link_to business_tasks_path(task), class: 'clearfix' do %>
                      <div class="detail">
                        <strong><%= task.title.titleize %></strong>
                        <strong><%= task.communication.titleize %></strong>
                        <p class="no-margin">
                          <%= task.description.titleize %>
                        </p>
                        <small class="text-muted"><i class="fa fa-check text-success"></i> <%= task.due_date.to_date %>
                        </small>
                      </div>
                  <% end %>
                </li>
            <% end %>
          </div>

          <li><a href="#">View all tasks</a></li>
        </ul>
      </li>

      <li class="profile dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <strong><%= current_user.first_name.titleize %> <%= current_user.last_name.titleize %></strong>
          <span><i class="fa fa-chevron-down"></i></span>
        </a>
        <ul class="dropdown-menu">
          <% if @current_account.is_super_admin? %>
              <li>
                <%= link_to "", class: 'clearfix' do %>
                    <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt="User Avatar">
                    <div class="detail">
                      <strong><%= current_user.first_name.titleize %> <%= current_user.last_name.titleize %></strong>
                      <p class="grey"><%= current_user.email %></p>
                    </div>
                <% end %>
              </li>

              <li>
                <%#= link_to account_path, class: 'main-link' do %>
                 <!--   <i class="fa fa-edit fa-lg"></i> Edit Profile -->
                <%# end %>
              </li>
          <% else %>
              <li>
                <a class="clearfix">
                  <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt="User Avatar">
                  <div class="detail">
                    <strong><%= current_user.first_name.titleize %> <%= current_user.last_name.titleize %></strong>
                    <p class="grey"><%= current_user.email %></p>
                  </div>
                </a>
              </li>
          <% end %>

          <li class="divider"></li>

          <li>
            <%= link_to logout_path, class: 'main-link logoutConfirm_open' do %>
                <i class="fa fa-lock fa-lg"></i> Sign Out
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div><!-- /top-nav-->
  <aside class="fixed skin-6">
    <div class="sidebar-inner scrollable-sidebars" style="height:100%; overflow-y: auto">
      <div class="size-toggle">
        <a class="btn btn-sm" id="sizeToggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="btn btn-sm pull-right logoutConfirm_open" href="#logoutConfirm">
          <i class="fa fa-power-off"></i>
        </a>
      </div><!-- /size-toggle -->

      <div class="user-block clearfix">
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt="User Avatar">
        <div class="detail">
          <strong><%= current_user.full_name.titleize %></strong>
          <ul class="list-inline">
            <li>
              <% if current_user.roles.present? %>
                  <p><%= @current_org.roles.find(current_user.roles.first).name.titleize %></p>
              <% end %>
            </li>

            <% unless @current_account.roles.include?(@current_org.roles.where({name: 'Phone Message Access'}).first.id.to_s) %>
                <li style="margin-top:10px;">
                  <a href="#search" style="color:black !important;" class="search-btn btn-sm btn-default">Search
                    Leads</a>
                </li>
            <% end %>
          </ul>
        </div>
      </div><!-- /user-block -->

      <div class="main-menu">
        <ul>
          <% if @current_account.is_super_admin? || (%w(Analytics Administrator) & @current_org.roles.where({:id.in => @current_account.roles}).map(&:name)).present? %>
              <li>
                <%= link_to business_leads_path do %>
                    <span class="menu-icon">
                      <i class="fa fa-desktop fa-lg"></i>
                    </span>
                    <span class="text">Dashboard</span>
                    <span class="menu-hover"></span>
                <% end %>
              </li>
          <% end %>

          <% unless @current_account.roles.include?(@current_org.roles.where({name: 'Phone Message Access'}).first.id.to_s) %>
              <li class="openable">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa fa-users fa-lg"></i>
                  </span>
                  <span class="text">Leads</span>
                  <span class="menu-hover"></span>
                </a>
                <ul class="submenu">
                  <li>
                    <%= link_to business_leads_path, class: ' should-load' do %>
                        <span class="submenu-label">View Leads</span>
                    <% end %>
                  </li>
                  <% if is_admin %>
                      <li>
                        <%= link_to duplicate_leads_path, class: ' should-load' do %>
                            <span class="submenu-label">Duplicate Leads</span>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to business_import_index_path, class: ' should-load' do %>
                            <span class="submenu-label">Import Leads</span>
                        <% end %>
                      </li>
                  <%- end %>

                  <% unless is_sales_coordinator %>
                      <li>
                        <%= link_to business_leads_consult_log_path, class: ' should-load' do %>
                            <span class="submenu-label">Consult Log</span>
                        <% end %>
                      </li>
                  <%- end %>

                  <li>
                    <%= link_to business_leads_surgery_log_path, class: ' should-load' do %>
                        <span class="submenu-label">Surgery Log</span>
                    <% end %>
                  </li>

                  <li>
                    <%= link_to injectable_leads_path, class: ' should-load' do %>
                        <span class="submenu-label">Injectable Leads</span>
                    <% end %>
                  </li>
                </ul>
              </li>

              <li>
                <%= link_to business_tasks_path do %>
                    <span class="menu-icon">
                      <i class="fa fa-tasks fa-lg"></i>
                    </span>
                    <span class="text">Tasks</span>
                    <span class="menu-hover"></span>
                <% end %>
              </li>
          <% end %>

          <li>
            <%= link_to schedule_path do %>
                <span class="menu-icon">
                  <i class="fa fa-calendar fa-lg"></i>
                </span>
                <span class="text">Schedule</span>
                <span class="menu-hover"></span>
            <% end %>
          </li>

          <li>
            <%= link_to business_email_connect_path do %>
                <span class="menu-icon">
                  <i class="fa fa-envelope fa-lg"></i>
                </span>
                <span class="text">Emails</span>
                <span class="menu-hover"></span>
            <% end %>
          </li>

          <% if is_admin %>
              <li>
                <%= link_to business_settings_path do %>
                    <span class="menu-icon">
                      <i class="fa fa-cogs fa-lg"></i>
                    </span>
                    <span class="text">Settings</span>
                    <span class="menu-hover"></span>
                <% end %>
              </li>
          <% end %>
        </ul>
        <% if is_admin %>
            <div class="alert alert-info">
              <%= link_to marketing_dashboard_path do %>
                  <span class="menu-icon">
                    <i class="fa fa-star fa-lg"></i>
                  </span>
                  <span class="text">Admin</span>
                  <span class="menu-hover"></span>
              <% end %>
            </div>
        <% end %>
      </div><!-- /main-menu -->
    </div><!-- /sidebar-inner -->
  </aside>

  <div id="main-container">
    <div class="row row-merge">
      <div class="col-sm-3 bg-primary custom-grid menu-grid">
        <button type="button" class="navbar-toggle" id="inboxMenuToggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="menu-header">
          Folders
          <%= link_to business_email_logout_path, method: :delete, class: 'btn btn-primary btn-sm pull-right' do %>
              <i class="fa fa-sign-out" title="Sign Out"></i>
              <span>Sign Out</span>
          <% end %>
        </div>
        <ul class="inbox-menu" id="inboxMenu">
          <li>
            <div>
              <a class="btn btn-danger btn-compose" href="#compose-email" data-toggle="modal" title="Write new message">COMPOSE</a>
            </div>
          </li>

          <% mailbox = (params[:provider] == 'outlook') ? @labels.select { |l| l['DisplayName'] == 'Inbox' }.first : @labels.select { |l| l['name'] == 'INBOX' }.first %>
          <% message_count = (params[:provider] == 'outlook') ? mailbox['UnreadItemCount'] : @api_client.fetch_label_by_id(mailbox['id'])['messagesUnread'] %>
          <li class="active email-menu" id="<%= mailbox['Id'] || mailbox['id'] %>" data-name="INBOX">
            <a href="#">
              <i class="fa fa-inbox fa-lg"></i>
              <span class="m-left-xs">Inbox</span>
              <% if message_count > 0 %>
                  <span class="badge badge-success pull-right"><%= message_count %></span>
              <% end %>
            </a>
          </li>

          <% mailbox = (params[:provider] == 'outlook') ? @labels.select { |l| l['DisplayName'] == 'Sent Items' }.first : @labels.select { |l| l['name'] == 'SENT' }.first %>
          <%#- message_count = (params[:provider] == 'outlook') ? mailbox['UnreadItemCount'] : @api_client.fetch_label_by_id(mailbox['id'])['messagesUnread'] %>
          <li class="email-menu" id="<%= mailbox['Id'] || mailbox['id'] %>" data-name="SENT">
            <a href="#">
              <i class="fa fa-envelope fa-lg"></i>
              <span class="m-left-xs">Sent Mail</span>
            </a>
          </li>

          <% mailbox = (params[:provider] == 'outlook') ? @labels.select { |l| l['DisplayName'] == 'Drafts' }.first : @labels.select { |l| l['name'] == 'DRAFT' }.first %>
          <% message_count = (params[:provider] == 'outlook') ? mailbox['TotalItemCount'] : @api_client.fetch_label_by_id(mailbox['id'])['messagesTotal'] %>
          <li class="email-menu" id="<%= mailbox['Id'] || mailbox['id'] %>" data-name="DRAFT">
            <a href="#">
              <i class="fa fa-edit fa-lg"></i>
              <span class="m-left-xs">Drafts</span>
              <% if message_count > 0 %>
                  <span class="badge badge-danger pull-right"><%= message_count %></span>
              <% end %>
            </a>
          </li>

          <% mailbox = (params[:provider] == 'outlook') ? @labels.select { |l| l['DisplayName'] == 'Junk Email' }.first : @labels.select { |l| l['name'] == 'SPAM' }.first %>
          <% message_count = (params[:provider] == 'outlook') ? mailbox['UnreadItemCount'] : @api_client.fetch_label_by_id(mailbox['id'])['messagesUnread'] %>
          <li class="email-menu" id="<%= mailbox['Id'] || mailbox['id'] %>" data-name="SPAM">
            <a href="#">
              <i class="fa fa-exclamation-circle fa-lg"></i>
              <span class="m-left-xs">Spam</span>
              <% if message_count > 0 %>
                  <span class="badge badge-danger pull-right"><%= message_count %></span>
              <% end %>
            </a>
          </li>

          <% mailbox = (params[:provider] == 'outlook') ? @labels.select { |l| l['DisplayName'] == 'Deleted Items' }.first : @labels.select { |l| l['name'] == 'TRASH' }.first %>
          <% message_count = (params[:provider] == 'outlook') ? mailbox['UnreadItemCount'] : @api_client.fetch_label_by_id(mailbox['id'])['messagesUnread'] %>
          <li class="email-menu" id="<%= mailbox['Id'] || mailbox['id'] %>" data-name="TRASH">
            <a href="#">
              <i class="fa fa-trash fa-lg"></i>
              <span class="m-left-xs">Trash</span>
              <% if message_count > 0 %>
                  <span class="badge badge-danger pull-right"><%= message_count %></span>
              <%- end %>
            </a>
          </li>

          <% if params[:provider] == 'outlook' %>
              <% @labels = @labels.reject { |label| ['Deleted Items', 'Drafts', 'Inbox', 'Junk Email', 'Outbox', 'Sent Items'].include?(label['DisplayName']) } %>
          <% else %>
              <% @labels = @labels.select { |label| label['type'] == 'user' } %>
          <% end %>

          <% @labels.each do |label| %>
              <% message_count = (params[:provider] == 'outlook') ? label['UnreadItemCount'] : @api_client.fetch_label_by_id(label['id'])['messagesUnread'] %>
              <li class="email-menu" id="<%= label['Id'] || label['id'] %>">
                <a href="#">
                  <i class="fa fa-folder-open fa-lg"></i>
                  <span class="m-left-xs"><%= label['DisplayName'] || label['name'] %></span>
                  <% if message_count > 0 %>
                      <span class="badge badge-danger pull-right"><%= message_count %></span>
                  <%- end %>
                </a>
              </li>
          <% end %>

          <li class="">
            <%= link_to business_email_logout_path, method: :delete do %>
                <i class="fa fa-sign-out fa-lg"></i>
                <span class="m-left-xs">Sign Out</span>
            <% end %>
          </li>

        </ul>
      </div><!-- /.col -->
      <%= yield %>
    </div><!-- /.row -->
  </div><!-- /main-container -->

  <div id="main-containers">
    <% flash.each do |name, msg| %>
        <% if name.to_s == 'error' %>
            <div class="alert alert-danger alert-margin" role="alert"><%= msg %>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        <% elsif name.to_s == 'alert' %>
            <div class="alert alert-warning alert-margin" role="alert"><%= msg %>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        <% elsif name.to_s == 'notice' %>
            <div class="alert alert-info alert-margin" role="alert"><%= msg %>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        <% end %>
    <% end %>
    <% if current_user != true_user %>
        <div class="alert">
          You (<%= true_user.first_name %>) are signed in as <%= current_user.first_name %>
          <%= link_to "Back to admin", stop_impersonating_admin_users_path %>
        </div>
    <% end %>

  </div><!-- /main-container -->
</div><!-- /wrapper -->
<!-- ######################################################### -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

<!-- Logout confirmation -->
<div class="custom-popup width-100" id="logoutConfirm">
  <div class="padding-md">
    <h4 class="m-top-none"> Do you want to logout?</h4>
  </div>

  <div class="text-center">
    <%= link_to 'Logout', logout_path, class: 'btn btn-success m-right-sm' %>
    <a class="btn btn-danger logoutConfirm_close">Cancel</a>
  </div>
</div>

<% content_for :search do %>
    <div>
      <label>Search Leads</label>
      <input class="js-search" type="text" placeholder="First, Last, Phone, Email, DOB (mm/dd/yyyy)" data-path="leads/search.json"/>
    </div>
<% end %>

<div class="search-page is-hidden" style="width:80%;">
  <button class="close-search btn btn-danger btn-sm">Close Search</button>
  <div class="search-content">
    <%= yield :search %>
  </div>
  <div id="search-results"></div>
</div>

<%= render 'shared/pusher' %>
</body>
</html>

<% group_ids = group_conversations(@current_account.id.to_s).map { |gr| gr.conversation.channel }.join(',') %>

<script>
  var pageToken = [""];
  var currentPage = 0;
  var outlookPageSize = 0;
  var next_page_token = "";
  var labelId = "INBOX";
  var mailType = "INBOX";
  $(function () {
    $(".email-menu").on("click", function (event) {
      event.preventDefault();
      pageToken = [""];
      currentPage = 0;
      outlookPageSize = 0;
      $(".email-menu").removeClass("active");
      $(this).addClass("active");

      labelId = $(this).attr("id");
      mailType = $(this).data("name");
      $.ajax({
        url: "/emails/<%= params[:provider] %>/mail",
        type: 'GET',
        data: {label_id: labelId, mail_type: mailType},
        success: function (res) {
          $("#email-content").html(res);
          $(".mail-option").show();
          $("#txt-email-search").val("");
        }
      });
    });

    $("#prev-page").on("click", function (e) {
      e.preventDefault();
      if ("<%= params[:provider] %>" == "outlook") {
        if (currentPage == 0) {
          outlookPageSize = 20;
          return false;
        } else {
          outlookPageSize = outlookPageSize - 20;
          page_token = outlookPageSize
        }
      } else {
        if (currentPage == 0) {
          return false;
        }
        var page_token = "";
        if (currentPage == 0) {
          page_token = pageToken[currentPage]
        }
        else {
          page_token = pageToken[currentPage - 1]
        }
      }
      $.ajax({
        url: "/emails/<%= params[:provider] %>/mail",
        type: 'GET',
        data: {label_id: labelId, page_token: page_token, mail_type: mailType},
        success: function (res) {
          $("#email-content").html(res);
          if (currentPage > 0) {
            currentPage = currentPage - 1;
          }
        }
      });
    });

    $("#next-page").on("click", function (e) {
      e.preventDefault();
      if ("<%= params[:provider] %>" == "outlook") {
        if (currentPage == pageToken.length - 1) {
          return false;
        } else {
          outlookPageSize = outlookPageSize + 20;
          page_token = outlookPageSize
        }
      } else {
        if (currentPage == pageToken.length - 1) {
          return false;
        }
        var page_token = "";
        if (currentPage <= pageToken.length - 1) {
          page_token = pageToken[currentPage + 1]
        }
        else {
          page_token = pageToken[currentPage]
        }
      }
      $.ajax({
        url: "/emails/<%= params[:provider] %>/mail",
        type: 'GET',
        data: {label_id: labelId, page_token: page_token, mail_type: mailType},
        success: function (res) {
          $("#email-content").html(res);
          currentPage = currentPage + 1;
        }
      });
    });

    //  Initialize WebSocket
    initializeWebSocket("<%= @current_account.id.to_s %>", ("org_" + "<%= @current_org.id.to_s %>"), "<%= group_ids %>", "<%= @unread_channels.join(',') %>");
  });
</script>
