<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
  $(function () {
    $(".fancybox").fancybox();

    function validateForm(content) {
      var $fields = $(content);
      console.log($fields);
      var dontCount = [];
      var $emptyFields = $fields.filter(function() {
        $(this).removeClass('error');
        return $.trim(this.value) === "";
      });

      console.log($emptyFields);

      if (!$emptyFields.length) {
          return true;
      } else {
          var message = "<div>"
          $.each($emptyFields, function(index, value){
            if ($(value).attr('id') === "first_interest"){
              var field = "Please select a procedure.";
              message = message + (field).toUpperCase().replace(/_/g, ' ') + "<br>";
            }else if ($(value).attr('id') === "height") {
              $('#feet').addClass('error');
              $('#inches').addClass('error');
            }
            $(value).addClass('error');

          });
          message = message + "</div>"
          $('#missing-fields').html(message);
          $('#fillFields').modal('show');
          return false;
      }
    };

    var currentStep = 1;

    $('#wizardTab li a').click(function () {
      return false;
    });

    $('#nextStep').click(function () {

      currentStep++;

      if (currentStep == 2) {
        var valid = validateForm("#wizardContent1 :input");

        if (!valid){
          currentStep--;
          return false;
        }


        $('#wizardTab li:eq(1) a').tab('show');
        $('#wizardProgress').css("width", "40%");
        $('.new_lead_content').css("display", "none");
        $('#wizardContent2').css("display", "block");
        $('#prevStep').attr('disabled', false).removeClass('disabled');
        $('#body_image').css("display", "none");
        $('#current_procedure').css("display", "inline-block");
      }
      else if (currentStep == 3) {
        var valid = validateForm("#wizardContent2 :input");

        if (!valid){
          currentStep--;
          return false;
        }
        $('#wizardTab li:eq(2) a').tab('show');
        $('#wizardProgress').css("width", "60%");
        $('.new_lead_content').css("display", "none");
        $('#wizardContent3').css("display", "block");

      }
      else if (currentStep == 4) {
        var valid = validateForm("#wizardContent3 :input");

        if (!valid){
          currentStep--;
          return false;
        }
        $('#wizardTab li:eq(3) a').tab('show');
        $('#wizardProgress').css("width", "80%");
        $('.new_lead_content').css("display", "none");
        $('#wizardContent4').css("display", "block");
      }
      else if (currentStep == 5) {
        var valid = validateForm("#wizardContent4 :input");

        if (!valid){
          currentStep--;
          return false;
        }
        $('#wizardTab li:eq(4) a').tab('show');
        $('#wizardProgress').css("width", "100%");
        $('.new_lead_content').css("display", "none");
        $('#wizardContent5').css("display", "block");
        $('#nextStep').css("display", "none");
        $('#submit_form').css("display", "inline-block");
        var questionnaire_token = $("#questionnaire_token").val();
        displayTempPhoto(questionnaire_token);
      }
      return false;
    });

    $('#prevStep').click(function () {

      currentStep--;

      if (currentStep == 1) {
        $('#wizardTab li:eq(0) a').tab('show');
        $('#wizardProgress').css("width", "20%");
        $('.new_lead_content').css("display", "none");
        $('#wizardContent1').css("display", "block");
        $('#prevStep').attr('disabled', true).addClass('disabled');
        $('#body_image').css("display", "inline-block");
        $('#current_procedure').css("display", "none");

      }
      else if (currentStep == 2) {
        $('#wizardTab li:eq(1) a').tab('show');
        $('#wizardProgress').css("width", "40%");
        $('.new_lead_content').css("display", "none");
        $('#wizardContent2').css("display", "block");
      }
      else if (currentStep == 3) {
        $('#wizardTab li:eq(2) a').tab('show');
        $('#wizardProgress').css("width", "60%");
        $('.new_lead_content').css("display", "none");
        $('#wizardContent3').css("display", "block");
      }
      else if (currentStep == 4) {
        $('#wizardTab li:eq(3) a').tab('show');
        $('#wizardProgress').css("width", "80%");
        $('.new_lead_content').css("display", "none");
        $('#wizardContent4').css("display", "block");
        $('#nextStep').attr('disabled', false).removeClass('disabled').css("display", "inline-block");
        $('#submit_form').css("display", "none");
      }
      return false;
    });

    $("#lead-gender").on('change', function () {
      if ($(this).val() == 'F') {
        $("#lead-male").hide();
        $("#lead-female").show();
      }
      else {
        $("#lead-female").hide();
        $("#lead-male").show();
      }
    });

    $('.datepicker').datepicker({
      format: "mm/dd/yyyy",
      autoclose: true
    });

    $(".modal-body input[type='checkbox']").on("change", function () {
      $(".procedure-error").hide();
    });


    $("#source_type").on("change", function () {
      var selected_value = $.trim(this.value);
      var select = $("#source");
      if (selected_value == "") {
        select.empty().hide();
        return false;
      }
      $.ajax({
        url: "/questionnaire_source_options/" + selected_value +"/"+ "<%=@contact.id.to_s%>",
        type: 'GET',
        success: function (res) {
          select.empty().append($('<option></option>').attr("value", "").text("-- Select --"));
          $.each(res, function (value, text) {
            select.append($('<option></option>').attr("value", value).text(text));
          });
          select.show();
        }
      });
    });

    $("#slider-panel").slider({
      min: 0,
      max: 50000,
      step: 100,
      orientation: "horizontal",
      tooltip: "show",
      formatter: function (value) {
        return '$ ' + value;
      }
    });

    $(".procedures").maphilight({groupBy: 'alt'});
  });

  function checkProcedures() {
    var selectedProcedures = $(".modal-body input[type='checkbox']").filter(":checked");
    if (selectedProcedures.length > 2) {
      $(".procedure-error").html("You can select maximum two procedures of any category.").show();
      return false;
    }
    else if (selectedProcedures.length == 0) {
      $(".procedure-error").html("Please select at least one procedure to continue.").show();
      return false;
    }
    else {
      var first_interest = $.trim(selectedProcedures.first().val()),
          second_interest = $.trim(selectedProcedures.last().val());
      $("#first_interest").val(first_interest);
      if (selectedProcedures.length == 2) {
        $("#second_interest").val(second_interest);
      }
      $(".modal").modal('hide');
      var selected_checkbox = "<ul class='right_arrow'>";
      selectedProcedures.each(function () {
        selected_checkbox += "<li>" + this.name + "</li>"
        $("#list_" + this.value).css("display", "block");
      });
      selected_checkbox += "</ul>";
      $("#selected_checkbox").html(selected_checkbox);
    }
  }

  $("#business_lead_interested_in").change(function () {
    var id = $(this).children(":selected").attr("value");
    console.log(id);
    $(".procedure-listing").css("display", "none");
    $("#list_" + id).css("display", "block");
  });
  $("#quick_procedure").change(function () {
    var id = $(this).children(":selected").attr("value");
    console.log(id);
    $(".procedure-listing").css("display", "none");
    $("#list_" + id).css("display", "block");
  });

  function uploadTempPhoto(fileField) {
    $(".ajax-loader").show();
    $("body").addClass("loading");
    var files = $(fileField)[0].files;
    var data = new FormData();
    var questionnaire_token = $("#questionnaire_token").val();
    i = 0;
    $.each(files, function (i, file) {
      data.append('temp_photo[image][' + i + ']', file);
      i += 1
    });
    data.append('temp_photo[questionnaire_token]', questionnaire_token);
    $.ajax({
      url: "/save_temp_photos",
      type: 'POST',
      data: data,
      processData: false,
      contentType: false,
      dataType: "json",
      success: function (res) {
        if (res.status == "success") {
          displayTempPhoto(questionnaire_token);
        }
        $("body").removeClass("loading");
        $(".ajax-loader").hide();
      }
    });
  }

  function displayTempPhoto(token) {
    $.ajax({
      url: "/display_temp_photos",
      type: 'GET',
      data: {token: token},
      dataType: "json",
      success: function (data) {
      },
      complete: function (data) {
        $("#temp_photos").html(data.responseText);
      }
    });
  }

  function deleteTempPhoto(id) {
    if (confirm("Are you sure?") == true) {
      $.ajax({
        url: "/delete_temp_photos",
        type: 'DELETE',
        data: {id: id},
        dataType: "json",
        success: function (data) {
        },
        complete: function (data) {
          var data = $.parseJSON(data.responseText);
          if (data.status == "success") {
            $("#temp_photo_" + id).remove();
          }
        }
      });
    }
  }
  function displayCount(fileField) {
    var filesCount = $(fileField)[0].files.length;
    var photoCount = $("#photos_count");
    if (filesCount == 0) {
      photoCount.html("No photos selected.");
    }
    else if (filesCount == 1) {
      photoCount.html("1 photo selected.");
    }
    else {
      photoCount.html(filesCount + " photos selected.");
    }
  }

</script>

<style>
  .form-group {
    width: 49%;
    display: inline-block !important;
  }

  blockquote {
    margin-top: 20px;
    border-left: none !important;
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
  }

  blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
  }

  blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }

  blockquote cite:before {
    content: "\2014 \2009";
  }

  canvas {
    width: auto !important;
    height: auto !important;
    top: auto !important;
    left: auto !important;
  }

  ul.right_arrow {
    list-style: none;
  }

  ul.right_arrow li:before {
    content: "\00BB";
  }

  /* #budgetSlider .slider-selection {
  background: #bababa none repeat scroll 0 0;
  }*/
  .ajax-loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
  }

  /* When the body has the loading class, we turn
  the scrollbar off with overflow:hidden */
  body.loading {
    overflow: hidden;
  }

  /* Anytime the body has the loading class, our
  modal element will be visible */
  body.loading .modal {
    display: block;
  }
</style>

<div style="padding-top:5vh; width: 80%; margin-left: 10%;">

  <!-- English Profile Form -->

  <div class="panel panel-default">
    <%= form_for(@contact, :url => questionnaire_submission_path, :html => {:class => 'beauty-form', multipart: true}) do |f| %>
        <input type="hidden" name="questionnaire_token" value="<%= @contact.public_token %>" id="questionnaire_token"/>

        <div class="panel-tab">
          <ul class="wizard-steps" id="wizardTab">
            <li class="active">
              <a href="#wizardContent1" data-toggle="tab">Intro</a>
            </li>
            <li>
              <a href="#wizardContent2" data-toggle="tab">Your Consultation</a>
            </li>
            <li>
              <a href="#wizardContent3" data-toggle="tab">About You</a>
            </li>
            <li>
              <a href="#wizardContent4" data-toggle="tab">Medical History</a>
            </li>
            <li>
              <a href="#wizardContent5" data-toggle="tab">Upload Your Photos</a>
            </li>
          </ul>
        </div>

        <div class="panel-body">

          <div class="tab-content col-md-6">
            <!-- first tab -->
            <div class="new_lead_content tab-pane fade in active" id="wizardContent1">

              <h1>Hi, <%= @contact.first_name.titleize %>. Let's get started on creating your Profile.</h1>

              <p> This questionnaire should only take a few moments.</p>

              <% if @contact.errors.any? %>
                  <div class="alert alert-danger">
                    <h5>There were problems with the following fields:</h5>
                    <ul style="margin-left: 10px">
                      <% @contact.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <%= f.label :first_name, "First Name" %><br/>
                <%= f.text_field :first_name, autocomplete: false, class: "form-control require", disabled: true %>
              </div>

              <div class="form-group">
                <%= f.label :last_name, "Last Name" %><br/>
                <%= f.text_field :last_name, autocomplete: false, class: "form-control require", disabled: true%>
              </div>

              <div class="form-group">
                <%= f.label :email, "Email" %><br/>
                <%= f.text_field :email, autocomplete: false, class: "form-control require", disabled: true %>
              </div>

              <div class="form-group">
                <%= f.label :phone, "Phone" %><br/>
                <%= f.text_field :phone, autocomplete: false, class: "form-control require", disabled: true %>
              </div>

              <div class="form-group" style="width:40% !important">
                <label>How did you hear about us?</label><br/>
                <%= select_tag :source_type, options_from_collection_for_select(SourceType.all, :id, :name), {prompt: '-- Select --', class: 'require chzn-select form-control col-md-4', style: 'width: 90% !important'} %>
              </div>

              <div class="form-group" style="width:35% !important;">
                <label>&nbsp;</label><br/>
                <%= select_tag :source, options_from_collection_for_select(@contact.organization.sources.all, :id, :name), {class: 'require chzn-select form-control col-md-4', style: 'width: 90% !important; display: none;'} %>
              </div>

              <div class="form-group">
                <%= f.label :gender, "Gender" %><br/>
                <%= f.select :gender, [%w(Female F), %w(Male M)], {}, {id: 'lead-gender', class: ' require chzn-select form-control col-md-4', style: 'width:60% !important;'} %>
              </div>

              <input type="hidden" id="first_interest" name="business_contact[interested_in]" value="">


            </div>

            <!-- second tab -->
            <div class="new_lead_content tab-pane fade" id="wizardContent2" style="display:none">

              <%= f.fields_for :questionnaire, @questionnaire do |questionnaire_fields| %>

                  <div class="form-group">
                    <label>What is your interest level?</label><br/>
                    <%= questionnaire_fields.select :interest_level, ([['1 - Low', '1 - Low'], ['3 - Moderate', '3 - Moderate'], ['9 - High', '9 - High']]), {:include_blank => "Interest"}, {class: "chzn-select form-control col-md-4", style: "width:60% !important;"} %>
                  </div>

                  <div class="form-group">
                    <label>Are you interested in financing?</label><br/>
                    <%= questionnaire_fields.select :financing, ([['Yes', 'Yes'], ['No', 'No']]), {:include_blank => "Financing"}, {class: "chzn-select form-control col-md-4", style: "width:60% !important;"} %>
                  </div>

                  <div class="form-group">
                    <label>What is your budget?</label><br/>
                    <%= questionnaire_fields.text_field :budget, id: 'slider-panel', class: 'slider', 'data-slider-id' => 'budgetSlider' %>
                  </div>
                  <!-- <div class="form-group" style="width:70% !important;">
                    <label>How soon would you like to have your consultation?</label><br/>
                    <%# questionnaire_fields.select :appointment_timeframe, ([['Next Available Opening', 'asap'], ['January', 'January'], ['Febuary', 'Febuary'], ['March', 'March'], ['April', 'April'], ['May', 'May'], ['June', 'June'], ['July', 'July'], ['August', 'August'], ['September', 'September'], ['October', 'October'], ['November', 'November'], ['December', 'December']]), {include_blank: "Appointment Timeframe"}, {class: "chzn-select form-control col-md-4", style: "width:60% !important;"} %>
                  </div> -->

                  <div class="form-group" style="width:70% !important;">
                    <%= questionnaire_fields.label :planned_surgery_date, "Surgical Timeframe" %><br/>
                    <%= questionnaire_fields.select :planned_surgery_date, ([['Next Available Opening', 'asap'], ['January', 'January'], ['Febuary', 'Febuary'], ['March', 'March'], ['April', 'April'], ['May', 'May'], ['June', 'June'], ['July', 'July'], ['August', 'August'], ['September', 'September'], ['October', 'October'], ['November', 'November'], ['December', 'December']]), {:include_blank => "Expected Time Frame"}, {class: "form-control chzn-select", style: "width:60% !important;"} %>
                  </div>

                  <div class="form-group" style="width:70% !important;">
                    <label>Motivation:</label><br/>
                    <%= questionnaire_fields.text_area :motivation, autocomplete: false, class: "form-control" %>
                  </div>



              <% end %>

            </div>


            <!-- third tab -->
            <div class="new_lead_content tab-pane fade" id="wizardContent3" style="display:none">

              <div class="form-group">
                <%= f.label :address, "Address" %><br/>
                <%= f.text_field :address, autocomplete: false, class: "form-control" %>
              </div>

              <div class="form-group">
                <div style="display:inline-block;width:30%;">
                  <%= f.label :city, "City" %><br/>
                  <%= f.text_field :city, autocomplete: false, class: "form-control" %>
                </div>

                <div style="display:inline-block;width:30%;">
                  <%= f.label :state, "State" %><br/>
                  <%= f.text_field :state, autocomplete: false, class: "form-control" %>
                </div>

                <div style="display:inline-block;width:30%;">
                  <%= f.label :zip, "Zip" %><br/>
                  <%= f.text_field :zip, autocomplete: false, class: "form-control" %>
                </div>
              </div>

              <div class="form-group" style="width:70% !important;">
                <label>Date of Birth: <small><i>mm/dd/yyyy</i></small></label><br/>
                <div class="input-group">
                  <input type="text" name="date_of_birth" placeholder="DOB" class="datepicker form-control">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>

              <div class="form-group">
                <label>Height:</label><br/>
                <select class="js-select-field chzn-select form-control" id="feet" data="height-feet" style="display:inline-block !important; width:40% !important;">
                  <option>Feet</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>

                <select class="js-select-field chzn-select form-control" id="inches" data="height-inches" style="display:inline-block !important; width:40% !important;">
                  <option>Inches</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
              </div>

              <%= f.hidden_field :height, :id => 'height' %>

              <div class="form-group">
                <label>Weight:</label><br/>
                <%= f.text_field :weight, autocomplete: false, class: "form-control", style: "display:inline-block !important; width:40% !important;" %>
              </div>


            </div>

            <!-- fourth tab -->
            <div class="new_lead_content tab-pane fade" id="wizardContent4" style="display:none">

              <%= f.fields_for :questionnaire, @questionnaire do |questionnaire_fields| %>
                  <div class="form-group" style="width:70% !important;">
                    <label>Are you currently taking any medication(s)?<br> <small><i>if this question does not apply please write "N/A"</i></small></label><br/>
                    <%= questionnaire_fields.text_area :medications, autocomplete: false, class: "form-control" %>
                  </div>

                  <div class="form-group" style="width:70% !important;">
                    <label>Medical condition(s):<br><small><i>if this question does not apply please write "N/A"</i></small></label><br/>
                    <%= questionnaire_fields.text_area :medical_conditions, autocomplete: false, class: "form-control" %>
                  </div>

                  <div class="form-group" style="width:70% !important;">
                    <label>Surgical History:<br><small><i>if this question does not apply please write "N/A"</i></small></label><br/>
                    <%= questionnaire_fields.text_area :surgical_history, autocomplete: false, class: "form-control" %>
                  </div>

                  <div class="form-group" style="width:70% !important;">
                    <label>Allergies:<br><small><i>if this question does not apply please write "N/A"</i></small></label><br/>
                    <%= questionnaire_fields.text_area :allergies, autocomplete: false, class: "form-control" %>
                  </div>

                  <div class="form-group" style="width:30% !important">
                    <label>Do you smoke?</label><br/>
                    <%= questionnaire_fields.select :smoker, ([['Yes', 'Yes'], ['No', 'No']]), {:include_blank => "Smoke"}, {class: "chzn-select form-control col-md-4", style: "width:80% !important;"} %>
                  </div>
              <% end %>

            </div>

            <!-- fifth tab -->
            <div class="new_lead_content tab-pane fade" id="wizardContent5" style="display:none">
              <div class="alert alert-info">Uploading your photos now will help our coordinators review your inquiry and ensure you are a candidate for your procedure of interest.</div>
              <div class="form-group" style="width:70% !important;">
                <label class="btn btn-default btn-file">
                  Upload your photos
                  <!-- <input type="file" name="lead_photo[]" id="lead_photo" multiple="multiple" style="display: none;" onchange="displayCount(this)"> -->
                  <input type="file" name="lead_photo[]" id="lead_photo" multiple="multiple" style="display: none;" onchange="uploadTempPhoto(this)">
                </label>
              </div>
              <br>
              <!-- <p id="photos_count">No files selected.</p> -->
              <div id="temp_photos"></div>
            </div>

          </div>
          <div class="col-md-6">
            <div id="body_image">
              <center>
                <h3>Procedures</h3>
                <div class=" alert alert-info">Start by clicking your area of concern</div>
              </center>
              <div id="selected_checkbox" style="margin: 10% 0 0 39%;position: absolute;float: right;font-size: 15px;z-index: 9;"></div>
              <div style="position: relative; display: <%= @contact.gender == 'M' ? 'block' : 'none' %>" id="lead-male">
                <img src="/images/human/male/body-front.jpg" id="procedures-male" class="procedures" usemap="#bodymapmale">
                <map name="bodymapmale">
                  <area shape="poly" id="face-male" coords="<%= Business::ProcedureMapping.where({name: 'Face', gender: 'M'}).first.coordinates %>"
                        href="javascript:" title="Face" data-toggle="modal" data-target="#faceProceduresModalMale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="body-male" coords="<%= Business::ProcedureMapping.where({name: 'Body', gender: 'M'}).first.coordinates %>"
                        href="javascript:" title="Body & Chest" data-toggle="modal" data-target="#bodyProceduresModalMale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="arm-male-left" class="arm-male" coords="<%= Business::ProcedureMapping.where({name: 'Arm', gender: 'M'}).last.coordinates %>"
                        href="javascript:" title="Left Arm" alt="arm" data-toggle="modal" data-target="#armProceduresModalMale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="arm-male-right" class="arm-male" coords="<%= Business::ProcedureMapping.where({name: 'Arm', gender: 'M'}).first.coordinates %>"
                        href="javascript:" title="Right Arm" alt="arm" data-toggle="modal" data-target="#armProceduresModalMale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="butt-female" coords="<%= Business::ProcedureMapping.where({name: 'Butt', gender: 'M'}).first.coordinates %>"
                        href="javascript:" title="Butt" data-toggle="modal" data-target="#buttProceduresModalMale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="leg-male-left" coords="<%= Business::ProcedureMapping.where({name: 'Leg', gender: 'M'}).last.coordinates %>"
                        href="javascript:" title="Left Leg" alt="leg" data-toggle="modal" data-target="#legProceduresModalMale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="leg-male-right" coords="<%= Business::ProcedureMapping.where({name: 'Leg', gender: 'M'}).first.coordinates %>"
                        href="javascript:" title="Right Leg" alt="leg" data-toggle="modal" data-target="#legProceduresModalMale" data-backdrop="static" data-keyboard="false">
                </map>
              </div>

              <div style="position: relative; display: <%= @contact.gender == 'F' ? 'block' : 'none' %>" id="lead-female">
                <img src="/images/human/female/body-front.jpg" id="procedures-female" class="procedures" usemap="#bodymapfemale">
                <map name="bodymapfemale">
                  <area shape="poly" id="face-female" coords="<%= Business::ProcedureMapping.where({name: 'Face', gender: 'F'}).first.coordinates %>"
                        href="javascript:" title="Face" data-toggle="modal" data-target="#faceProceduresModalFemale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="breast-female" coords="<%= Business::ProcedureMapping.where({name: 'Breast', gender: 'F'}).first.coordinates %>"
                        href="javascript:" title="Breast" data-toggle="modal" data-target="#breastProceduresModal" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="body-female" coords="<%= Business::ProcedureMapping.where({name: 'Body', gender: 'F'}).first.coordinates %>"
                        href="javascript:" title="Body" data-toggle="modal" data-target="#bodyProceduresModalFemale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="arm-female-left" alt="arm" coords="<%= Business::ProcedureMapping.where({name: 'Arm', gender: 'F'}).last.coordinates %>"
                        href="javascript:" title="Left Arm" data-toggle="modal" data-target="#armProceduresModalFemale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="arm-female-right" alt="arm" coords="<%= Business::ProcedureMapping.where({name: 'Arm', gender: 'F'}).first.coordinates %>"
                        href="javascript:" title="Right Arm" data-toggle="modal" data-target="#armProceduresModalFemale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="butt-female" coords="<%= Business::ProcedureMapping.where({name: 'Butt', gender: 'F'}).first.coordinates %>"
                        href="javascript:" title="Butt" data-toggle="modal" data-target="#buttProceduresModalFemale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="leg-female-left" coords="<%= Business::ProcedureMapping.where({name: 'Leg', gender: 'F'}).last.coordinates %>"
                        href="javascript:" title="Left Leg" alt="leg" data-toggle="modal" data-target="#legProceduresModalFemale" data-backdrop="static" data-keyboard="false">
                  <area shape="poly" id="leg-female-right" coords="<%= Business::ProcedureMapping.where({name: 'Leg', gender: 'F'}).first.coordinates %>"
                        href="javascript:" title="Right Leg" alt="leg" data-toggle="modal" data-target="#legProceduresModalFemale" data-backdrop="static" data-keyboard="false">
                </map>
              </div>
            </div>

            <center>
              <div id="current_procedure" style="display:none; width: 80% !important;">
                <div class="panel panel-default" style="margin:0 auto !important;">
                  <div class="panel-heading bg-info" style="background-color:#3498db; color:white; font-size:20px">
                    CHOSEN PROCEDURE
                  </div>
                  <div class="panel-body" style="height:250px;overflow:auto;">
                    <% @contact.organization.procedures.each do |procedure| %>
                        <div class="procedure-listing" id="list_<%= procedure.slug_value %>" style="display:none">
                          <h4><%= procedure.name.titleize %></h4> <br/>
                          <div class="separator"></div>
                          <p><%= procedure.details.humanize if procedure.details.present? %><br/></p>
                          <div class="separator"></div>
                          <p><span>Procedure Cost: </span> <%= number_to_currency(procedure.cost) %></p>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </center>
          </div>
          <input type="hidden" id="second_interest" name="business_contact[second_interest]" value="">
        </div>

        <div class="panel-footer">
          <button class="btn btn-info btn-md disabled" id="prevStep" disabled>Previous</button>
          <button type="submit" class="btn btn-md btn-info" id="nextStep">Next</button>
          <%= f.submit 'Complete my Beauty Profile', :class => 'btn btn-md btn-success', id: 'submit_form', style: 'display:none' %>
          <div class="pull-right" style="width:30%">
            <div class="progress progress-striped active m-top-sm m-bottom-none">
              <div class="progress-bar progress-bar-success" id="wizardProgress" style="width:30%;"></div>
            </div>
          </div>
        </div>

    <% end %>
  </div><!-- /panel -->
</div>

<!--###########################################################################################-->
<!--Modal Section-->

<%= render partial: 'shared/procedure_modals', locals: {organization: @contact.organization} %>

<div class="modal fade" id="fillFields" style="margin-top:15%;">
	<div class="modal-dialog">
		<div class="modal-content">
	    <div class="modal-body">
        <center>
          <h3 class="text-danger">PLEASE FILL IN ALL FIELDS</h3>
          <div id="missing-fields"></div>
          <br>
          <button class="btn btn-sm btn-danger" data-dismiss="modal" aria-hidden="true">OK</button>
        </center>
	    </div>
  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="ajax-loader"><!-- Place at bottom of page --></div>
<!--End Modal Section-->
<style>
.error {
  border: #FB6752 solid 2px;
}
</style>
