<%= form_for(@consultation) do |f| %>
  <% if @consultation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consultation.errors.count, "error") %> prohibited this consultation from being saved:</h2>

      <ul>
      <% @consultation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lead_id %><br>
    <%= f.text_field :lead_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :cancelled %><br>
    <%= f.text_field :cancelled %>
  </div>
  <div class="field">
    <%= f.label :no_show %><br>
    <%= f.text_field :no_show %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
